{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set errors = pageProperties.errors %}
{% extends "layouts/default.njk" %}

{% block main_content %}

{% if errors["dob-day"] %}
  {% set errorMessageText = errors["dob-day"].text %}
{% elif errors["dob-month"] %}
  {% set errorMessageText = errors["dob-month"].text %}
{% elif errors["dob-year"] %}
  {% set errorMessageText = errors["dob-year"].text %}
{% endif %}

<div>
    <form action="date-of-birth" method="POST">
        <span class="govuk-caption-l">{{firstName}} {{lastName}}</span>
        {{ govukDateInput({
            id: "dob",
            namePrefix: "dob",
            fieldset: {
              legend: {
                text: "What is your date of birth?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "For example, 31 3 1980"
            },
            errorMessage: {
                text: errorMessageText
            } if errors | length,
              
            items: [
              {
                name: "day",
                classes: "govuk-input--error govuk-input--width-2" if errors else "govuk-input--width-2" ,
                autocomplete: "bday-day",
                id: "dob-day",
                value: payload["dob-day"]
              },
              {
                name: "month",
                classes: "govuk-input--error govuk-input--width-2" if errors else "govuk-input--width-2",
                autocomplete: "bday-month",
                id: "dob-month",
                value: payload["dob-month"]
              },
              {
                name: "year",
                classes: "govuk-input--error govuk-input--width-4" if errors  else "govuk-input--width-4",
                autocomplete: "bday-year",
                id: "dob-year",
                value: payload["dob-year"]
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
    </form>
</div>

    
{% endblock main_content %}