{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layouts/default.njk" %}

{% set errors = pageProperties.errors %}

{% block main_content %}
    {# Prepare address items #}
    {% set ITEMS = [] %}
    {% for addressOption in addresses %}
        {% set addressObject = {
            id: addressOption.propertyDetails,
            value: addressOption.propertyDetails,
            text: addressOption.propertyDetails + ", " + addressOption.line1 + ", " + addressOption.town + ", " + addressOption.country + ", " + addressOption.postcode,
            checked: addressOption.propertyDetails == currentPremises,
            attributes: {
                "data-event-id": "address-option-" + addressOption.propertyDetails
            }
        } %}
        {% set ITEMS = ITEMS.concat(addressObject) %}
    {% endfor %}
    
    {# Form section #}
    <form action="" method="POST">
        {% include "partials/business_name.njk" %}
        <div class="govuk-form-group">
            {# Render radios #}
            {{ govukRadios({
                errorMessage: errors.businessLookUpAddressList if errors,
                classes: "govuk-radios",
                id: "business-address-in-radios",
                name: "businessAddress",
                fieldset: {
                    legend: {
                        text: i18n.correspondenceLookUpAddressListTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                items: ITEMS
            }) }}
        </div>
        <button class="govuk-button">{{ i18n.SaveAndContinue }}</button>
    </form>
    
    {# Manual address entry link #}
    <p>
        <a href= {{ businessAddressManualLink }} class="govuk-link">{{ i18n.correspondenceLookUpAddressManuallyBtn }}</a>
    </p>
{% endblock main_content %}
