{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% set errors = pageProperties.errors %}
{% block main_content %}
    {# Prepare address items #}
    {% set ITEMS = [] %}
    {% for addressOption in addresses %}
        {% set addressObject = {
            id: addressOption.propertyDetails,
            value: addressOption.propertyDetails,
            text: addressOption.propertyDetails + ", " + addressOption.line1 + ", " + addressOption.town + ", " + addressOption.country + ", " + addressOption.postcode,
            checked: addressOption.propertyDetails == currentPremises,
            attributes: {
                "data-event-id": "address-option-" + addressOption.propertyDetails
            }
        } %}
        {% set ITEMS = ITEMS.concat(addressObject) %}
    {% endfor %}
    {# Form section #}
<div class="govuk-grid-column-two-thirds">
    <form action="" method="POST">
        {% if businessName %}
            {% include "partials/business_name.njk" %}
        {% endif %}
        <div
            class="govuk-form-group">
            {# Render radios #}
            {{ govukRadios({
                errorMessage: errors.businessLookUpAddressList if errors,
                classes: "govuk-radios",
                id: "business-address-in-radios",
                name: "businessAddress",
                fieldset: {
                    legend: {
                        text: i18n.businessLookUpAddressListTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                items: ITEMS
            }) }}
        </div>
        <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">{{ i18n.businessAddressShowOnPublicList }}</h2>
            <p>{{ i18n.businessAddressShowTownOrCity }}</p>
        </div> 
         {{ govukButton({
             text: i18n.SaveAndContinue,
             attributes: {
               "data-event-id": "SAVE AND CONTINUE - Address business"
             }
           }) }}
    </form>
    {# Manual address entry link #}
    <p>
        <a href={{ businessAddressManualLink }} class="govuk-link">{{ i18n.correspondenceLookUpAddressManuallyBtn }}</a>
    </p>
</div>
{% endblock main_content %}