{% extends "layouts/default.njk" %}
{% set title = i18n.cannotSubmitHeading %}
{% block main_content %}
    <h1 class="govuk-heading-l">{{ i18n.cannotSubmitHeading }}</h1>
    <p class="govuk-body">{{ i18n.oneApplication}}</p>
    <p class="govuk-body">
        {{i18n.goTo}}
        <a href={{ filingsLink }} id="filings-link-id">{{i18n.yourFilingsLink}}</a>
        {{ i18n.toCheckTheStatus}}
    </p>

    <script nonce={{ nonce | dump | safe }}>
        trackEventBasedOnPageTitle("filings-link-id", "{{title}}", "click-link", "Your Filings link");
    </script>

{% endblock main_content %}