{% extends "layouts/default.njk" %}
{% set title = i18n.cannotSubmitHeading %}
{% block main_content %}
    <h1 class="govuk-heading-l">{{ i18n.cannotSubmitHeading }}</h1>
    <p class="govuk-body">{{ i18n.oneApplication}}</p>
    <p class="govuk-body">
        {{ i18n.applicationBeingProcessed}}
        <a href={{ filingsLink }}>{{i18n.viewApplicationInFilings}}</a>
    </p>
{% endblock main_content %}