{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}

{% set title = i18n.whatIsTheBusinessNameTitle %}
{% block main_content %}
  <form action="" method="POST">     
    {% include "partials/csrf_token.njk" %} 
    {% set textHtml %}
      {{ govukInput({
        label: {
          text: i18n.whatIsTheBusinessNameTitleInput
        },
        errorMessage: {
          text: errors["whatIsTheBusinessNameInput"].text
        } if errors["whatIsTheBusinessNameInput"] | length,
        classes: "govuk-input",
        id: "whatIsTheBusinessNameInput",
        name: "whatIsTheBusinessNameInput",
        value: payload["whatIsTheBusinessNameInput"]
      }) }}
    {% endset -%}

    {{ govukRadios({
      errorMessage: errors.whatsTheBusinessNameRadio if errors,
      name: "whatsTheBusinessNameRadio",
      value: payload["whatsTheBusinessNameRadio"],
      classes: "govuk-radios",
      fieldset: {
        legend: {
          text: i18n.whatIsTheBusinessNameTitle,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "USERNAME",
          text: firstName + " " + lastName
        },
        {
          value: "A Different Name",
          text: i18n.whatIsTheBusinessNameDifferentName,
          id: "a-different-name-radio", 
          conditional: {
            html: textHtml
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: i18n.SaveAndContinue,
      id:"save-continue-button"
    }) }}
  </form>

  <script nonce={{ nonce | dump | safe }}>
    trackEventBasedOnPageTitle("save-continue-button", "{{title}}", "click-button", "SAVE AND CONTINUE - Business name");
    trackEventBasedOnPageTitle("a-different-name-radio", "{{title}}", "click-button", "A different name");
  </script>

{% endblock main_content %}