{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

<span role="navigation" aria-label="{{ i18n.Back }}">
    {{ govukBackLink({
            text: i18n.Back,
            href: previousPage
        })
    }}


</span>