{% from "navbar.njk" import addPredefinedNavbar %}

{% if userEmail %}
    {{ addPredefinedNavbar(userEmail, chsMonitorGuiUrl, i18n, displayAuthorisedAgent, "no", "no", accountUrl, lang) }}
{% endif %}
