{% from "navbar.njk" import addPredefinedNavbar %}
{% set lang = i18n %}

{% if userEmail %}
    <div class="govuk-!-padding-top-2">
        {{ addPredefinedNavbar(userEmail, chsMonitorGuiUrl, i18n, displayAuthorisedAgent, "no", "no", accountUrl, lang) }}
    </div>
{% endif %}
