{% from "navbar.njk" import addPredefinedNavbar %}
{% set lang = i18n %}
<div class="govuk-width-container small-text does-not-verify-link-spacing">
    <a class="govuk-link govuk-link--no-visited-state govuk-!-padding-top-2" href="https://resources.companieshouse.gov.uk/serviceInformation.shtml" target="_blank">
      {{i18n.companiesHouseDoesNotVerify}}
      <span class="govuk-visually-hidden">(link opens a new window)</span>
    </a>
  </div>
{{ addPredefinedNavbar(userEmail, chsMonitorGuiUrl, lang, "yes") }}
