{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% extends "layouts/default.njk" %}
{% set title = i18n.otherTypeOfBusinessTitle %}
{% block main_content %}
    <form action="" method="POST">
       {% include "partials/user_name.njk" %}
        <div class="govuk-form-group">
            {{ govukRadios({
                errorMessage: errors.otherTypeOfBusinessRadio if errors,
                classes: "govuk-radios",
                id: "other-type-of-business-radios",
                name: "otherTypeOfBusinessRadio",
                fieldset: {
                    legend: {
                        text: i18n.otherTypeOfBusinessTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l govuk-!-width-two-thirds"
                    }
                },
                value: otherTypeOfBusiness,
                items: [
                    {
                        value: "CORPORATE_BODY",
                        text: i18n.otherTypeOfBusinessCorporateBody,
                        id:"CORPORATE_BODY",
                        hint: {
                            text: i18n.otherTypeOfBusinessCorporateBodyHint
                        }
                    },
                    {
                        value: "UNINCORPORATED",
                        text: i18n.otherTypeOfBusinessUnincorporatedEntity,
                        id:"UNINCORPORATED"
                    }
                ]
                }) }}
        </div>
        {{ govukButton({
            text: i18n.SaveAndContinue,
            id:"save-continue-button",
            attributes: {
                "onClick": "continueOnClick()"
            }
        }) }}
    </form>

    <script type="text/javascript">
        function continueOnClick () {
            const selectedOption = document.querySelector('input[name="otherTypeOfBusinessRadio"]:checked');
            if (selectedOption){
                const selectedValue = selectedOption.value;
                trackGoal(selectedValue);
            }
        }
        function trackGoal(goal){
            let goalId;
            switch(goal) {
                case "UNINCORPORATED":
                    goalId = 6;
                    break;
                case "CORPORATE_BODY":
                    goalId = 7;
                    break;
            }
            _paq.push(['trackGoal', goalId]);
        }
    </script>

    <script>
        trackEventBasedOnPageTitle("UNINCORPORATED", "{{title}}", "select-option", "Unincorporated Entity");
        trackEventBasedOnPageTitle("CORPORATE_BODY", "{{title}}", "select-option", "Corporate Body");
        trackEventBasedOnPageTitle("save-continue-button", "{{title}}", "click-button", "SAVE AND CONTINUE - OTHER TYPE");
    </script>

{% endblock main_content %}