{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% extends "layouts/default.njk" %}

{% block localesBanner %}
  {# Remove language select #}
{% endblock %}

{% block backLink %}
  {# Remove back button on this page by replacing it with nothing #}
{% endblock %}

{% set title = i18n.authorisedAgentUpdateSubmittedTitle %}

{% block main_content %}
  {{ govukPanel({
    titleText: i18n.authorisedAgentUpdateSubmittedTitle,
    html: i18n.referenceNumber + "<br>" + "<strong>" + transactionId + "</strong>",
    classes: "govuk-!-margin-top-7"
  }) }}

    <p class="govuk-body"> {{ i18n.weHaveSentAConfirmationEmailTo }} <strong>{{ email }}</strong> {{ i18n.withYourReferenceNumber }}</p>
    
    <h2 class="govuk-heading-m">{{ i18n.whatHappensNextHeading }}</h2>
    <p class="govuk-body">{{ i18n.wellEmailToLetYouKnow}}</p>
    <p class="govuk-body">{{ i18n.wellProcessTheUpdate}}</p>
    <p class="govuk-body">{{ i18n.ifItsAccepted }}</p>
    <p class="govuk-body"><a href={{ authorisedAgentAccountLink }} class="govuk-link govuk-link--no-visited-state">{{ i18n.goBackToAuthAgentAccountLink }}</a>.</p>

    <h2 class="govuk-heading-m">{{ i18n.helpUsToImproveThisServiceHeading }}</h2>
    <p class="govuk-body">
      {{ i18n.thisIsANewService }} <a href={{ feedbackLink }} class="govuk-link govuk-link--no-visited-state" target="_blank">{{ i18n.completeOurQuickSurveyLink }}</a> {{ i18n.toHelpUsImproveIt }}
    </p>

{% endblock main_content %}