{% from "govuk/components/button/macro.njk" import govukButton %}
{% set errors = pageProperties.errors %}
{% extends "layouts/default.njk" %}
{% block main_content %}
  <form action="" method="post">
    {% include "partials/user_name.njk" %}
    <div id="typeahead-form-group" class="govuk-form-group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="countryInput">{{ i18n.whereDoYouLiveTitle }}</label>
        </h1>
      </legend>
      {% set dropdownDefaultText = i18n.whereDoYouLiveDefaultDropdownText %}
      <p class="govuk-hint" id="typeahead-hint">{{ i18n.whereDoYouLiveHint }}</p>
      <div id="my-autocomplete-container" class="autocomplete-wrapper govuk-!-width-two-thirds"></div>
      {% set errorMessage = errors %}
      {% include "../../../partials/country-typeahead-input.njk" %}
    </div>
    {{ govukButton({
      text: i18n.Continue,
      attributes: {
        "data-event-id": "SAVE AND CONTINUE - Location lives"
      }
    }) }}
  </form>
{% endblock main_content %}