{% from "govuk/components/input/macro.njk"           import govukInput %}
{% extends "layouts/default.njk" %}

{% block main_content %}

<main class="govuk-main-wrapper">
    <form action="name" method="POST">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">{{i18n.whatIsTheBusinessnNameTitle}}</h1>
            
            {{ govukInput({
                errorMessage: errors.whatIsTheBusinessnName if errors,
                classes: "govuk-input",
                hint: {
                    text: i18n.whatIsTheBusinessnNameHint
                },
                id: "what-is-the-business-name",
                name: "whatIsTheBusinessnName"
             }) }}

             <div class="govuk-inset-text">
                <p>{{i18n.whatIsTheBusinessnNamePublic}}</p>   
            </div>
        </div>
            <button class="govuk-button">{{i18n.whatIsTheBusinessnNameSaveAndContinue}}</button>
    </form>
</main>

    
{% endblock main_content %}