{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% block main_content %}

    {% if typeOfBusiness === "SOLE_TRADER" %}
        {% set detailsHeading = i18n.checkYourAnswersSoleTraderDetailsHeading %}
    {% if typeOfBusiness === "LIMITED_COMPANY" or typeOfBusiness === "LIMITED_PARTNERSHIP" or typeOfBusiness === "LIMITED_LIABILITY_PARTNERSHIP" %}
        {% set detailsHeading = i18n.checkYourAnswersLimitedDetailsHeading %}
    {% if typeOfBusiness === "PARTNERSHIP" or typeOfBusiness === "UNINCORPORATED_ENTITY" or typeOfBusiness === "CORPORATE_BODY" %}
        {% set detailsHeading = i18n.checkYourAnswersUnincorportatedDetailsHeading %}
    {% endif %}

    <div>
        <h1 class="govuk-heading-xl">{{ i18n.checkYourAnswersHeading }}</h1>
        <h2 class="govuk-heading-m">{{ detailsHeading }}</h2>
        {{ govukSummaryList({
            rows: answersList
            })
        }}
        <h2 class="govuk-heading-m">{{ i18n.checkYourAnswersAMLHeading }}</h2>
        {{ govukSummaryList({
            rows: amlList
            })
        }}
        {{ govukButton({
            text: i18n.continueToPayment
           }) }}
    </div>
{% endblock main_content %}