{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}
{% set title = i18n.whichSectorOtherTitle %}
{% block main_content %}
    <form action="" method="POST">
        {% if acspType == "SOLE_TRADER" %}
           {% include "partials/user_name.njk" %}
        {% endif %}
        <div class="govuk-form-group">
            {{ govukRadios({
                classes: "govuk-radios",
                id: "which-sector-other-radios",
                name: "whichSectorOther",
                fieldset: {
                    legend: {
                        text: i18n.whichSectorOtherTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    text: i18n.sectorYouWorkOtherHintText,
                    id: "what-sector-other-hint",
                    classes: "govuk-hint govuk-!-padding-bottom-2"
                },
                value: workSector,
                items: [
                    {
                        value: "EA",
                        text: i18n.whichSectorOtherEstateAgentsOption,
                        id: "EA-id"
                    },
                    {
                        value: "HVD",
                        text: i18n.whichSectorOtherHighValueDealersOption,
                        id: "HVD-id"
                    },
                    {
                        value: "CASINOS",
                        text: i18n.whichSectorOtherCasinosOption,
                        id: "CASINOS-id"
                    }
                ]
                }) }}
        </div>
        <div class="govuk-button-group"> 
            {{ govukButton({
                text: i18n.SaveAndContinue,
                id:"save-continue-button"
              }) }}
            <a 
            href={{whichSectorLink}} 
            class="govuk-link" 
            id="back-link-id">
                {{ i18n.whichSectorOtherGoBack }}

            </a>
        </div>
    </form>
     <script>
let selectedRadio = null;

// Function to track Matomo analytics based on the selected radio button
function trackRadioSelection() {
  const radioButtons = document.querySelectorAll('input[name="whichSectorOther"]'); 
  radioButtons.forEach((radio) => {
    radio.addEventListener("click", (event) => {
      // Set selectedRadio to the capture the properties of the selected radio button 
      selectedRadio = event.target;
      // Capture the text content of the selected radio button
      const labelText = document.querySelector(`label[for="${selectedRadio.id}"]`).textContent.trim();     
      // Track event based on the selected radio button id and text content
      trackEventBasedOnRadioId(selectedRadio.id, "{{title}}", "select-option", labelText);
      trackEventBasedOnPageTitle("save-continue-button", "click-button", "SAVE AND CONTINUE - OTHER SECTOR");
    });
  });
}

// Run trackRadioSelection function
trackRadioSelection();

// EventListener to track the value of selectedRadio when save and continue button is clicked
document.getElementById("save-continue-button").addEventListener("click", () => {
  // If no radio button has been selected then work sector has not been provided
  if (!selectedRadio) {
    trackEventWorkSectorNotProvided("save-continue-button", "click-button", "SAVE AND CONTINUE - OTHER SECTOR - Not provided");
  }
});
</script>
{% endblock main_content %}