{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}
{% set title = i18n.whichSectorOtherTitle %}
{% block main_content %}
    <form action="" method="POST">
        {% if acspType == "SOLE_TRADER" %}
           {% include "partials/user_name.njk" %}
        {% endif %}
        <div class="govuk-form-group">
            {{ govukRadios({
                errorMessage: errors.sectorYouWorkIn if errors,
                classes: "govuk-radios",
                id: "which-sector-other-radios",
                name: "whichSectorOther",
                fieldset: {
                    legend: {
                        text: i18n.whichSectorOtherTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                value: workSector,
                items: [
                    {
                        value: "EA",
                        text: i18n.whichSectorOtherEstateAgentsOption,
                        id: "EA-id"
                    },
                    {
                        value: "HVD",
                        text: i18n.whichSectorOtherHighValueDealersOption,
                        id: "HVD-id"
                    },
                    {
                        value: "CASINOS",
                        text: i18n.whichSectorOtherCasinosOption,
                        id: "CASINOS-id"
                    }
                ]
                }) }}
        </div>
        <div class="govuk-button-group"> 
            {{ govukButton({
                text: i18n.SaveAndContinue,
                id:"save-continue-button"
              }) }}
            <a 
            href={{whichSectorLink}} 
            class="govuk-link" 
            id="back-link-id">
                {{ i18n.whichSectorOtherGoBack }}

            </a>
        </div>
    </form>

    <script>
        trackEventBasedOnPageTitle("back-link-id", "{{title}}", "click-link", "Back to main business sector");
    </script>

{% endblock main_content %}