{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}

{% set title = i18n.yourUpdatesHeading %}

{% if isLimitedBusiness %}
  {% set businessNameLabel = i18n.yourUpdatesCompanyName %}
  {% set tableHeading = i18n.updateLimitedCompanyDetailsTableHeading %}
{% else %}
  {% set businessNameLabel = i18n.yourUpdatesBusinessName %}
  {% set tableHeading = i18n.updateUnincorporatedDetailsTableHeading %}
{% endif %}

{% set cancelServiceAddressChange = "&cancel=serviceAddress&return=" + redirectQuery %}
{% if type === "sole-trader" %}
  {% set cancelServiceAddressChange = "&cancel=registeredOfficeAddress&return=" + redirectQuery %}
  {% set tableHeading = i18n.yourUpdatesHeading %}
{% endif %}

{% block main_content %}
<h1 class="govuk-heading-l">{{ i18n.yourUpdatesHeading }}</h1>
{{ govukInsetText({
  text: i18n.yourUpdatesPeningText
}) }}

<h2 class="govuk-heading-m">{{ tableHeading }}</h2>
{{ govukSummaryList({
  rows: [
  {
    key: {
      text: i18n.yourUpdatesName,
      classes: "govuk-!-width-one-third"
    },
    value: {
      html: yourDetails.name.value + "<p class='govuk-body govuk-!-static-margin-top-5'> Changed on " + yourDetails.name.changedDate + "</p>",
      classes: "govuk-!-width-one-third"
    },
    actions: {
        items: [
          {
            href: serviceUrl + UPDATE_ACSP_WHAT_IS_YOUR_NAME + "?lang=" + lang,
            text: i18n.Edit,
            visuallyHiddenText: i18n.yourUpdatesName
          },
          {
            href: cancelChangeUrl + "&cancel=personName&return=" + redirectQuery,
            text: i18n.Cancel,
            visuallyHiddenText: i18n.yourUpdatesName
          }
        ],
        classes: "govuk-!-width-one-third"
      }
  }if yourDetails.name,
  {
    key: {
      text: i18n.yourUpdatesWhereYouLive,
      classes: "govuk-!-width-one-third"
    },
    value: {
      html: yourDetails.usualResidentialCountry.value + "<p class='govuk-body govuk-!-static-margin-top-5'> Changed on " + yourDetails.usualResidentialCountry.changedDate + "</p>",
      classes: "govuk-!-width-one-third"
    },
    actions: {
        items: [
          {
            href: serviceUrl + UPDATE_WHERE_DO_YOU_LIVE + "?lang=" + lang,
            text: i18n.Edit,
            visuallyHiddenText: i18n.yourUpdatesWhereYouLive
          },
          {
            href: cancelChangeUrl + "&cancel=usualResidentialCountry&return=" + redirectQuery,
            text: i18n.Cancel,
            visuallyHiddenText: i18n.yourUpdatesWhereYouLive
          }
        ],
        classes: "govuk-!-width-one-third"
      }
  }if yourDetails.usualResidentialCountry,
  {
    key: {
      text: businessNameLabel,
      classes: "govuk-!-width-one-third"
    },
    value: {
      html: yourDetails.businessName.value + "<p class='govuk-body govuk-!-static-margin-top-5'> Changed on " + yourDetails.businessName.changedDate + "</p>",
      classes: "govuk-!-width-one-third"
    },
    actions: {
        items: [
          {
            href: editBusinessNameUrl,
            text: i18n.Edit,
            visuallyHiddenText: businessNameLabel
          },
          {
            href: cancelChangeUrl + "&cancel=businessName&return=" + redirectQuery,
            text: i18n.Cancel,
            visuallyHiddenText: businessNameLabel
          }
        ],
        classes: "govuk-!-width-one-third"
      }
  } if yourDetails.businessName,
  {
    key: {
      text: i18n.yourUpdatesCorrespondenceAddress,
      classes: "govuk-!-width-one-third"
    },
    value: {
      html: yourDetails.serviceAddress.value + "<p class='govuk-body govuk-!-static-margin-top-5'> Changed on " + yourDetails.serviceAddress.changedDate + "</p>",
      classes: "govuk-!-width-one-third"
    },
    actions: {
        items: [
          {
            href: serviceUrl + UPDATE_CORRESPONDENCE_ADDRESS_LOOKUP + "?lang=" + lang,
            text: i18n.Edit,
            visuallyHiddenText: i18n.yourUpdatesCorrespondenceAddress
          },
          {
            href: cancelChangeUrl + cancelServiceAddressChange,
            text: i18n.Cancel,
            visuallyHiddenText: i18n.yourUpdatesCorrespondenceAddress
          }
        ],
        classes: "govuk-!-width-one-third"
      }
  } if yourDetails.serviceAddress,
  {
    key: {
      text: i18n.yourUpdatesCorrespondenceEmailAddress,
      classes: "govuk-!-width-one-third"
    },
    value: {
      text: yourDetails.correspondenceEmail.value,
      classes: "govuk-!-width-one-third"
    },
    actions: {
        items: [
          {
            href: serviceUrl + UPDATE_WHAT_IS_YOUR_EMAIL + "?lang=" + lang,
            text: i18n.Edit,
            visuallyHiddenText: i18n.yourUpdatesCorrespondenceEmailAddress
          },
          {
            href: cancelChangeUrl + "&cancel=email&return=" + redirectQuery,
            text: i18n.Cancel,
            visuallyHiddenText: i18n.yourUpdatesCorrespondenceEmailAddress
          }
        ],
        classes: "govuk-!-width-one-third"
      }
  }if yourDetails.correspondenceEmail,
  {
    key: {
      text: i18n.yourUpdatesRegisteredOfficeAddress,
      classes: "govuk-!-width-one-third"
    },
    value: {
      html: yourDetails.registeredOfficeAddress.value + "<p class='govuk-body govuk-!-static-margin-top-5'> Changed on " + yourDetails.registeredOfficeAddress.changedDate + "</p>",
      classes: "govuk-!-width-one-third"
    },
    actions: {
        items: [
          {
            href: serviceUrl + UPDATE_BUSINESS_ADDRESS_LOOKUP + "?lang=" + lang,
            text: i18n.Edit,
            visuallyHiddenText: i18n.yourUpdatesRegisteredOfficeAddress
          },
          {
            href: cancelChangeUrl + "&cancel=registeredOfficeAddress&return=" + redirectQuery,
            text: i18n.Cancel,
            visuallyHiddenText: i18n.yourUpdatesRegisteredOfficeAddress
          }
        ],
        classes: "govuk-!-width-one-third"
      }
  }if yourDetails.registeredOfficeAddress,
  {
    key: {
      text: i18n.yourUpdatesBusinessAddress,
      classes: "govuk-!-width-one-third"
    },
    value: {
      html: yourDetails.businessAddress.value + "<p class='govuk-body govuk-!-static-margin-top-5'> Changed on " + yourDetails.businessAddress.changedDate + "</p>",
      classes: "govuk-!-width-one-third"
    },
    actions: {
        items: [
          {
            href: serviceUrl + UPDATE_BUSINESS_ADDRESS_LOOKUP + "?lang=" + lang,
            text: i18n.Edit,
            visuallyHiddenText: i18n.yourUpdatesBusinessAddress
          },
          {
            href: cancelChangeUrl + "&cancel=registeredOfficeAddress&return=" + redirectQuery,
            text: i18n.Cancel,
            visuallyHiddenText: i18n.yourUpdatesBusinessAddress
          }
        ],
        classes: "govuk-!-width-one-third"
      }
  } if yourDetails.businessAddress
  ]
}) }}

{% if addedAMLBodies | length %}
  {% include "partials/your-updates-add-aml.njk" %}
{% endif %}

{% if removedAMLBodies | length %}
  {% include "partials/your-updates-remove-aml.njk" %}
{% endif %}

<form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
  {% include "partials/csrf_token.njk" %}
  {{ govukRadios({
    name: "moreUpdates",
    fieldset: {
      legend: {
        text: i18n.yourUpdatesOtherUpdates,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    errorMessage: errors.moreUpdates if errors, 
    items: [
      {
        value: "yes",
        text: i18n.yourUpdatesYesMore
      },
      {
        value: "no",
        text: i18n.yourUpdateNoMore
      }
    ]
  }) }}

  <div class="govuk-button-group">
      {{ govukButton({
        text: i18n.Continue,
        id:"continue-button-id"
      })}}
      <a class="govuk-link" id="cancel-id" href={{cancelAllUpdatesUrl}}>{{i18n.yourUpdatesCancelAllUpdates}}</a>
  </div>
</form>

{% endblock main_content %}