{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% extends "layouts/default.njk" %}

{% block main_content %}

<main>
    <form action="" method="POST">
        {% include "partials/user_name.njk" %}
        <div class="govuk-form-group">
            {{ govukRadios({
                errorMessage: errors.howAreYouAmlSupervised if errors,
                classes: "govuk-radios",
                id: "how-are-you-aml-supervised-radios",
                name: "howAreYouAmlSupervised",
                fieldset: {
                    legend: {   
                        text: i18n.howAreYouAmlSupervisedTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                    },
                    hint: {
                         text: i18n.howAreYouAmlSupervisedBody
                    },
                items: [
                    {
                        value: "NAME_OF_THE_BUSINESS",
                        text: i18n.nhowAreYouAmlSupervisedNameOfTheBusinessOption,
                        checked: how-are-you-aml-supervised == NAME_OF_THE_BUSINESS,
                        attributes: {
                            "data-event-id": "name-of-the-business-option"
                        }
                    },
                    {
                        value: "YOUR_NAME",
                        text: i18n.howAreYouAmlSupervisedYourNameOption,
                        checked: how-are-you-aml-supervised == YOUR_NAME,
                        attributes: {
                            "data-event-id": "your-company-option"
                        }
                    },
                    {
                        value: "BOTH",
                        text: i18n.howAreYouAmlSupervisedBothOption,
                        checked: how-are-you-aml-supervised == BOTH,
                        attributes: {
                            "data-event-id": "both-option"
                        }
                    }
                ]
                }) }}
        </div>
        <button class="govuk-button">{{i18n.howAreYouAmlSupervisedContinueBtn}}</button>
    </form>
</main>

    
{% endblock main_content %}