{% extends "layouts/default.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block backLink %}
  {# Remove back button on this page by replacing it with nothing #}
{% endblock %}
{% set title = i18n.startPageTitleCloseAcsp%}

{% block main_content %}

  <form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
    {% include "partials/csrf_token.njk" %}
      <h1 class="govuk-heading-l">
        {{ i18n.startPageTitleCloseAcsp }}
      </h1>
      <p class="govuk-body">{{i18n.ifYouCloseAcsp  | replace("{BUSINESS_NAME}", businessName) }}</p>
      <h2 class="govuk-heading-m">{{ i18n.beforeYouContinueHeading}}</h2>
      <p class="govuk-body">{{ i18n.beforeYouContinueText1 }}
        <a class="govuk-link" href="{{ manageUsersLink }}">{{ i18n.beforeYouContinueManageUsersLink }}</a>.
      </p>
      <p class="govuk-body">{{ i18n.beforeYouContinueText2}}</p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: i18n.Continue,
          id: "continue-button",
          isStartButton: true
        }) }}
        <a class="govuk-link" href="{{ authorisedAgentDashboardUrl }}">{{ i18n.Cancel}}</a>
      </div>
  </form>

  <script nonce={{ nonce | dump | safe }}>
    function closeAcspStartGoalEventListener () {
      document.getElementById("continue-button").addEventListener("click", () => {
      _paq.push(['trackGoal', "{{ PIWIK_CLOSE_ACSP_START_GOAL_ID }}"]);
    });
    }

    if (document.readyState === "loading") {
      document.addEventListener("DOMContentLoaded", function (e) {
       closeAcspStartGoalEventListener()
      });
    } else {
      closeAcspStartGoalEventListener()
    }
  </script>

{% endblock %}