<!-- router_views/index/stop-not-relevant-officer.njk -->
{% extends "layouts/default.njk" %}
{% block backLink %}
  {# Remove back button on this page by replacing it with nothing #}
{% endblock %}
{% set title = i18n.cannotUseServiceTitle %}
{% block main_content %}
  <h1 class="govuk-fieldset__heading">
    <label class="govuk-label govuk-label--l">{{i18n.cannotUseServiceTitle}}</label>
  </h1>
  <p class="govuk-body">{{ i18n.listOfAuthorisedAgent }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ i18n.kickoutDirector }}</li>
    <li>{{ i18n.kickoutGeneralPartner }}</li>
    <li>{{ i18n.kickoutMember }}</li>
    <li>{{ i18n.kickoutSoleTrader }}</li>
  </ul>
  <p class="govuk-body">
    <a href="#" class="govuk-link govuk-link--no-visited-state" id= "guidance-link">{{ i18n.guidancePageText }} </a>
    {{ i18n.moreInformation }}
  </p>
        <script>
        trackEventBasedOnPageTitle("guidance-link", "click-link", "Read the guidance about applying to register as an authorised agent");
      </script>
{% endblock %}