{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% extends "layouts/default.njk" %}
{% block main_content %}
    <form action="" method="POST">
       {% include "partials/user_name.njk" %}
        <div class="govuk-form-group">
            {{ govukRadios({
                errorMessage: errors.otherTypeOfBusinessRadio if errors,
                classes: "govuk-radios",
                id: "other-type-of-business-radios",
                name: "otherTypeOfBusinessRadio",
                fieldset: {
                    legend: {
                        text: i18n.otherTypeOfBusinessTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l govuk-!-width-two-thirds"
                    }
                },
                value: otherTypeOfBusiness,
                items: [
                    {
                        value: "UNINCORPORATED_ENTITY",
                        text: i18n.otherTypeOfBusinessUnincorporatedEntity
                    },
                    {
                        value: "CORPORATE_BODY",
                        text: i18n.otherTypeOfBusinessCorporateBody,
                        hint: {
                            text: "This does not include limited companies or registrable partnerships."
                        }
                    }
                ]
                }) }}
        </div>
        {{ govukButton({
            text: i18n.Continue,
            attributes: {
                "onClick": "continueOnClick()"
            }
        }) }}
    </form>
    <script type="text/javascript">
        function continueOnClick () {
            const selectedOption = document.querySelector('input[name="otherTypeOfBusinessRadio"]:checked');
            if (selectedOption){
                const selectedValue = selectedOption.value;
                trackGoal(selectedValue);
            }
        }
        function trackGoal(goal){
            let goalId;
            switch(goal) {
                case "UNINCORPORATED_ENTITY":
                    goalId = 6;
                    break;
                case "CORPORATE_BODY":
                    goalId = 6;
                    break;
            }
            _paq.push(['trackGoal', goalId]);
        }
    </script>
{% endblock main_content %}