<h2 class="govuk-heading-m">{{ i18n.updateDetailsHeading }}</h2>
{{ govukSummaryList({
    rows: [
    {
        key: {
          text: i18n.updateYourDetailsName
        },
        value: {
          text: detailsAnswers.name
        }
      },
      {
        key: {
          text: i18n.updateYourDetailsWhereDoYouLive
        },
        value: {
          text: detailsAnswers.countryOfResidence
        }
      }
    ]
    })
}}
{{ govukSummaryList({
    rows: [
      {
        key: {
          text: i18n.updateYourDetailsCorrespondenceAddress,
          classes: "govuk-!-width-one-third"
        },
        value: {
          html: detailsAnswers.correspondenceAddress,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: [
              {
                href: "#",
                text: i18n.updateYourDetailsUpdate,
                visuallyHiddenText: i18n.correspondeceAddress
              },
              {
                href: "#",
                text: i18n.updateYourDetailsCancel,
                visuallyHiddenText: i18n.correspondeceAddress
              }
            ],
            classes: "govuk-!-width-one-third"
          }
      },
      {
        key: {
          text: i18n.updateDetailsCorrespondenceEmail,
          classes: "govuk-!-width-one-third"
        },
        value: {
          text: detailsAnswers.correspondenceEmail,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: [
              {
                href: "#",
                text: i18n.updateYourDetailsUpdate,
                visuallyHiddenText: i18n.correspondeceAddress
              },
              {
                href: "#",
                text: i18n.updateYourDetailsCancel,
                visuallyHiddenText: i18n.correspondeceAddress
              }
            ],
            classes: "govuk-!-width-one-third"
          }
      }
    ]
    })
}}
{{ govukSummaryList({
    rows: [
      {
        key: {
          text: i18n.updateYourDetailsBusinessAddress
        },
        value: {
          html: detailsAnswers.businessAddress
        }
      }
    ]
    })
}}
{{ govukSummaryList({
    rows: [
      {
        key: {
          text: i18n.updateYourDetailsRegisteredOfficeAddress,
          classes: "govuk-!-width-one-third"
        },
        value: {
          html: detailsAnswers.businessAddress,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: [
              {
                href: "#",
                text: i18n.updateYourDetailsUpdate,
                visuallyHiddenText: i18n.correspondeceAddress
              },
              {
                href: "#",
                text: i18n.updateYourDetailsCancel,
                visuallyHiddenText: i18n.correspondeceAddress
              }
            ],
            classes: "govuk-!-width-one-third"
          }
      },
      {
        key: {
          text: i18n.updateYourDetailsNameOfBusiness,
          classes: "govuk-!-width-one-third"
        },
        value: {
          text: detailsAnswers.businessName,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: [
              {
                href: "#",
                text: i18n.updateYourDetailsUpdate,
                visuallyHiddenText: i18n.correspondeceAddress
              },
              {
                href: "#",
                text: i18n.updateYourDetailsCancel,
                visuallyHiddenText: i18n.correspondeceAddress
              }
            ],
            classes: "govuk-!-width-one-third"
          }
      }
    ]
    })
}}