<h2 class="govuk-heading-m">{{ i18n.updateDetailsHeading }}</h2>
{% if detailsAnswersUpdated.name !== detailsAnswers.name %}
{{ govukSummaryList({
    rows: [
    {
        key: {
          text: i18n.updateYourDetailsName,
          classes: "govuk-!-width-one-third"
        },
        value: {
          text: detailsAnswersUpdated.name,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: [
              {
                href: "/view-and-update-the-authorised-agents-details/what-is-your-name" + "?lang=" + lang,
                text: i18n.updateYourDetailsUpdate,
                visuallyHiddenText: i18n.updateYourDetailsName
              },
              {
                href: "#",
                text: i18n.updateYourDetailsCancel,
                visuallyHiddenText: i18n.updateYourDetailsName
              }
            ],
            classes: "govuk-!-width-one-third"
          }
      }
    ]
    })
}}
{% else %}
{{ govukSummaryList({
    rows: [
    {
        key: {
          text: i18n.updateYourDetailsName,
          classes: "govuk-!-width-one-third"
        },
        value: {
          text: detailsAnswers.name,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: [
              {
                href: "/view-and-update-the-authorised-agents-details/what-is-your-name" + "?lang=" + lang,
                text: i18n.updateYourDetailsUpdate,
                visuallyHiddenText: i18n.updateYourDetailsName
              }
            ],
            classes: "govuk-!-width-one-third"
          }
      }
    ]
    })
}}
{% endif %}
{% if detailsAnswersUpdated.countryOfResidence !== detailsAnswers.countryOfResidence %}
{{ govukSummaryList({
    rows: [      
      {
        key: {
          text: i18n.updateYourDetailsWhereDoYouLive,
          classes: "govuk-!-width-one-third"
        },
        value: {
          text: detailsAnswersUpdated.countryOfResidence,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: [
              {
                href: "/view-and-update-the-authorised-agents-details/where-do-you-live" + "?lang=" + lang,
                text: i18n.updateYourDetailsUpdate,
                visuallyHiddenText: i18n.updateYourDetailsWhereDoYouLive
              },
              {
                href: "#",
                text: i18n.updateYourDetailsCancel,
                visuallyHiddenText: i18n.updateYourDetailsWhereDoYouLive
              }
            ],
            classes: "govuk-!-width-one-third"
          }
      }
    ]
    })
}}
{% else %}
{{ govukSummaryList({
    rows: [      
      {
        key: {
          text: i18n.updateYourDetailsWhereDoYouLive,
          classes: "govuk-!-width-one-third"
        },
        value: {
          text: detailsAnswers.countryOfResidence,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: [
              {
                href: "/view-and-update-the-authorised-agents-details/where-do-you-live" + "?lang=" + lang,
                text: i18n.updateYourDetailsUpdate,
                visuallyHiddenText: i18n.updateYourDetailsWhereDoYouLive
              }
            ],
            classes: "govuk-!-width-one-third"
          }
      }
    ]
    })
}}
{% endif %}
{{ govukSummaryList({
    rows: [
      {
        key: {
          text: i18n.updateYourDetailsCorrespondenceAddress,
          classes: "govuk-!-width-one-third"
        },
        value: {
          html: detailsAnswers.correspondenceAddress,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: [
              {
                href: "#",
                text: i18n.updateYourDetailsUpdate,
                visuallyHiddenText: i18n.updateYourDetailsCorrespondenceAddress
              },
              {
                href: "#",
                text: i18n.updateYourDetailsCancel,
                visuallyHiddenText: i18n.updateYourDetailsCorrespondenceAddress
              }
            ],
            classes: "govuk-!-width-one-third"
          }
      },
      {
        key: {
          text: i18n.updateDetailsCorrespondenceEmail,
          classes: "govuk-!-width-one-third"
        },
        value: {
          text: detailsAnswers.correspondenceEmail,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: [
              {
                href: "#",
                text: i18n.updateYourDetailsUpdate,
                visuallyHiddenText: i18n.updateDetailsCorrespondenceEmail
              },
              {
                href: "#",
                text: i18n.updateYourDetailsCancel,
                visuallyHiddenText: i18n.updateDetailsCorrespondenceEmail
              }
            ],
            classes: "govuk-!-width-one-third"
          }
      }
    ]
    })
}}
{{ govukSummaryList({
    rows: [
      {
        key: {
          text: i18n.updateYourDetailsNameOfBusiness,
          classes: "govuk-!-width-one-third"
        },
        value: {
          text: detailsAnswers.businessName,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: [
              {
                href: "#",
                text: i18n.updateYourDetailsUpdate,
                visuallyHiddenText: i18n.updateYourDetailsNameOfBusiness
              },
              {
                href: "#",
                text: i18n.updateYourDetailsCancel,
                visuallyHiddenText: i18n.updateYourDetailsNameOfBusiness
              }
            ],
            classes: "govuk-!-width-one-third"
          }
      }
    ]
    })
}}