{% set updateStatusTextForName = "" %}
{% set updateStatusTextForCountryOfResidence = "" %}
{% set updateStatusTextForCorrespondenceAddress = "" %}
{% set updateStatusTextForCorrespondenceEmail = "" %}
{% set updateStatusTextForBusinessName = "" %}

{% set nameItems = [
  {
    href: "/view-and-update-the-authorised-agents-details/what-is-your-name" + "?lang=" + lang,
    text: i18n.updateYourDetailsUpdate,
    visuallyHiddenText: i18n.updateYourDetailsName
  }
] %}
{% set whereYouLiveItems = [
  {
    href: "/view-and-update-the-authorised-agents-details/where-do-you-live" + "?lang=" + lang,
    text: i18n.updateYourDetailsUpdate,
    visuallyHiddenText: i18n.updateYourDetailsWhereYouLive
  }
] %}
{% set businessNameItems = [
  {
    href: "/view-and-update-the-authorised-agents-details/what-is-the-business-name" + "?lang=" + lang,
    text: i18n.updateYourDetailsUpdate,
    visuallyHiddenText: i18n.updateYourDetailsBusinessName
  }
] %}
{% set correspondenceAddressItems = [
  {
    href: "/view-and-update-the-authorised-agents-details/correspondence-address-lookup?lang=" + lang,
    text: i18n.updateYourDetailsUpdate,
    visuallyHiddenText: i18n.updateYourDetailsCorrespondenceAddress
  }
] %}
{% set correspondenceEmailAddressItems = [
  {
    href: "/view-and-update-the-authorised-agents-details/what-email-should-we-use" + "?lang=" + lang,
    text: i18n.updateYourDetailsUpdate,
    visuallyHiddenText: i18n.updateDetailsCorrespondenceEmail
  }
] %}

{% if profileDetailsUpdated.name !== profileDetails.name %}
  {% set updateStatusTextForName =
                "<div class='govuk-!-static-padding-top-3'>
                <p class='govuk-body govuk-!-static-margin-top-2'>"+i18n.updateYourDetailsModificationChangedOn+" "+changeDates.name+"</p>
                <strong class='govuk-tag govuk-tag--blue govuk-!-static-margin-bottom-1'>"+i18n.updatedWarningCaption+"</strong>
                <p class='govuk-body-s'>"+i18n.updatedWarningNoteLineOne+"<br>"+i18n.updatedWarningNoteLineTwo+"</p>
                </div>"
  %}
  {% set nameItems = nameItems.concat([{
    href: cancelChangeUrl + "&cancel=personName",
    text: 18n.Cancel,
    visuallyHiddenText: i18n.updateYourDetailsName
  }]) %}
{%endif%}
{% if profileDetailsUpdated.countryOfResidence !== profileDetails.countryOfResidence %}
  {% set updateStatusTextForCountryOfResidence =
                "<div class='govuk-!-static-padding-top-3'>
                <p class='govuk-body govuk-!-static-margin-top-2'>"+i18n.updateYourDetailsModificationChangedOn+" "+changeDates.whereDoYouLive+"</p>
                <strong class='govuk-tag govuk-tag--blue govuk-!-static-margin-bottom-1'>"+i18n.updatedWarningCaption+"</strong>
                <p class='govuk-body-s'>"+i18n.updatedWarningNoteLineOne+"<br>"+i18n.updatedWarningNoteLineTwo+"</p>
                </div>"
  %}
  {% set whereYouLiveItems = whereYouLiveItems.concat([{
    href: cancelChangeUrl + "&cancel=usualResidentialCountry",
    text: 18n.Cancel,
    visuallyHiddenText: i18n.updateYourDetailsWhereYouLive
  }]) %}
{%endif%}
{% if profileDetailsUpdated.registeredOfficeAddress !== profileDetails.registeredOfficeAddress %}
  {% set updateStatusTextForCorrespondenceAddress =
                "<div class='govuk-!-static-padding-top-3'>
                <p class='govuk-body govuk-!-static-margin-top-2'>"+i18n.updateYourDetailsModificationChangedOn+" "+changeDates.correspondenceAddress+"</p>
                <strong class='govuk-tag govuk-tag--blue govuk-!-static-margin-bottom-1'>"+i18n.updatedWarningCaption+"</strong>
                <p class='govuk-body-s'>"+i18n.updatedWarningNoteLineOne+"<br>"+i18n.updatedWarningNoteLineTwo+"</p>
                </div>"
  %}
  {% set correspondenceAddressItems = correspondenceAddressItems.concat([{
    href: cancelChangeUrl + "&cancel=registeredOfficeAddress",
    text: 18n.Cancel,
    visuallyHiddenText: i18n.updateYourDetailsCorrespondenceAddress
  }]) %}
{%endif%}
{% if profileDetailsUpdated.correspondenceEmail !== profileDetails.correspondenceEmail %}
  {% set updateStatusTextForCorrespondenceEmail =
                "<div class='govuk-!-static-padding-top-3'>
                <strong class='govuk-tag govuk-tag--blue govuk-!-static-margin-bottom-1'>"+i18n.updatedWarningCaption+"</strong>
                <p class='govuk-body-s'>"+i18n.updatedWarningNoteLineOne+"<br>"+i18n.updatedWarningNoteLineTwo+"</p>
                </div>"
  %}
  {% set correspondenceEmailAddressItems = correspondenceEmailAddressItems.concat([{
    href: cancelChangeUrl + "&cancel=email",
    text: 18n.Cancel,
    visuallyHiddenText: i18n.updateDetailsCorrespondenceEmail
  }]) %}
{%endif%}
{% if profileDetailsUpdated.businessName !== profileDetails.businessName %}
  {% set updateStatusTextForBusinessName =
                "<div class='govuk-!-static-padding-top-3'>
                <p class='govuk-body govuk-!-static-margin-top-2'>"+i18n.updateYourDetailsModificationChangedOn+" "+changeDates.nameOfBusiness+"</p>
                <strong class='govuk-tag govuk-tag--blue govuk-!-static-margin-bottom-1'>"+i18n.updatedWarningCaption+"</strong>
                <p class='govuk-body-s'>"+i18n.updatedWarningNoteLineOne+"<br>"+i18n.updatedWarningNoteLineTwo+"</p>
                </div>"
  %}
  {% set businessNameItems = businessNameItems.concat([{
    href: cancelChangeUrl + "&cancel=businessName",
    text: 18n.Cancel,
    visuallyHiddenText: i18n.updateYourDetailsBusinessName
  }]) %}
{%endif%}

<h2 class="govuk-heading-m">{{ i18n.updateSoleTraderDetailsTableHeading }}</h2>
{{ govukSummaryList({
    rows: [
    {
        key: {
          text: i18n.updateYourDetailsName,
          classes: "govuk-!-width-one-third"
        },
        value: {
          html: profileDetailsUpdated.name+updateStatusTextForName
        },
        actions: {
            items: nameItems,
            classes: "govuk-!-width-one-third"
          }
      },     
      {
        key: {
          text: i18n.updateYourDetailsWhereYouLive,
          classes: "govuk-!-width-one-third"
        },
        value: {
          html: profileDetailsUpdated.countryOfResidence+updateStatusTextForCountryOfResidence,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: whereYouLiveItems,
            classes: "govuk-!-width-one-third"
          }
      },
      {
        key: {
          text: i18n.updateYourDetailsBusinessName,
          classes: "govuk-!-width-one-third"
        },
        value: {
          html: profileDetailsUpdated.businessName+updateStatusTextForBusinessName,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: businessNameItems,
            classes: "govuk-!-width-one-third"
          }
      },
      {
        key: {
          text: i18n.updateYourDetailsCorrespondenceAddress,
          classes: "govuk-!-width-one-third"
        },
        value: {
          html: profileDetailsUpdated.registeredOfficeAddress + updateStatusTextForCorrespondenceAddress,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: correspondenceAddressItems,
            classes: "govuk-!-width-one-third"
          }
      },
      {
        key: {
          text: i18n.updateDetailsCorrespondenceEmail,
          classes: "govuk-!-width-one-third"
        },
        value: {
          html: profileDetailsUpdated.correspondenceEmail+updateStatusTextForCorrespondenceEmail,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: correspondenceEmailAddressItems,
            classes: "govuk-!-width-one-third"
          }
      }
    ]
    })
}}