{% set updateStatusTextForName = "" %}
{% set updateStatusTextForCountryOfResidence = "" %}
{% set updateStatusTextForCorrespondenceAddress = "" %}
{% set updateStatusTextForCorrespondenceEmail = "" %}
{% set updateStatusTextForBusinessAddress = "" %}
{% set updateStatusTextForBusinessName = "" %}

{% set nameItems = [
  {
    href: "/view-and-update-the-authorised-agents-details/what-is-your-name" + "?lang=" + lang,
    text: i18n.updateYourDetailsUpdate,
    visuallyHiddenText: i18n.updateYourDetailsName
  }
] %}
{% set businessNameItems = [
  {
    href: "/view-and-update-the-authorised-agents-details/what-is-the-business-name" + "?lang=" + lang,
    text: i18n.updateYourDetailsUpdate,
    visuallyHiddenText: i18n.updateYourDetailsBusinessName
  }
] %}
{% set businessAddressItems = [
  {
    href: "/view-and-update-the-authorised-agents-details/business-address-lookup?lang=" + lang,
    text: i18n.updateYourDetailsUpdate,
    visuallyHiddenText: i18n.updateYourDetailsBusinessAddress
  }
] %}
{% set correspondenceAddressItems = [
  {
    href: "/view-and-update-the-authorised-agents-details/correspondence-address-lookup?lang=" + lang,
    text: i18n.updateYourDetailsUpdate,
    visuallyHiddenText: i18n.updateYourDetailsCorrespondenceAddress
  }
] %}
{% set correspondenceEmailItems = [
  {
    href: "/view-and-update-the-authorised-agents-details/what-email-should-we-use" + "?lang=" + lang,
    text: i18n.updateYourDetailsUpdate,
    visuallyHiddenText: i18n.updateDetailsCorrespondenceEmail
  }
] %}

{% if profileDetails.name and profileDetailsUpdated.name !== profileDetails.name %}
  {% set updateStatusTextForName =
                "<div class='govuk-!-static-padding-top-3'>
                <strong class='govuk-tag govuk-tag--blue govuk-!-static-margin-bottom-1'>"+i18n.updatedWarningCaption+"</strong>
                <p class='govuk-body-s'>"+i18n.updatedWarningNoteLineOne+"<br>"+i18n.updatedWarningNoteLineTwo+"</p>
                </div>"
  %}
  {% set nameItems = nameItems.concat([{
    href: cancelChangeUrl + "&cancel=personName",
    text: i18n.updateYourDetailsCancel,
    visuallyHiddenText: i18n.updateYourDetailsName
  }]) %}
{%endif%}
{% if profileDetailsUpdated.serviceAddress !== profileDetails.serviceAddress %}
  {% set updateStatusTextForCorrespondenceAddress =
                "<div class='govuk-!-static-padding-top-3'>
                <p class='govuk-body govuk-!-static-margin-top-2'>"+i18n.updateYourDetailsModificationChangedOn+" "+changeDates.correspondenceAddress+"</p>
                <strong class='govuk-tag govuk-tag--blue govuk-!-static-margin-bottom-1'>"+i18n.updatedWarningCaption+"</strong>
                <p class='govuk-body-s'>"+i18n.updatedWarningNoteLineOne+"<br>"+i18n.updatedWarningNoteLineTwo+"</p>
                </div>"
  %}
  {% set correspondenceAddressItems = correspondenceAddressItems.concat([{
    href: cancelChangeUrl + "&cancel=serviceAddress",
    text: i18n.updateYourDetailsCancel,
    visuallyHiddenText: i18n.updateYourDetailsCorrespondenceAddress
  }]) %}
{%endif%}
{% if profileDetailsUpdated.correspondenceEmail !== profileDetails.correspondenceEmail %}
  {% set updateStatusTextForCorrespondenceEmail =
                "<div class='govuk-!-static-padding-top-3'>
                <strong class='govuk-tag govuk-tag--blue govuk-!-static-margin-bottom-1'>"+i18n.updatedWarningCaption+"</strong>
                <p class='govuk-body-s'>"+i18n.updatedWarningNoteLineOne+"<br>"+i18n.updatedWarningNoteLineTwo+"</p>
                </div>"
  %}
  {% set correspondenceEmailItems = correspondenceEmailItems.concat([{
    href: cancelChangeUrl + "&cancel=email",
    text: i18n.updateYourDetailsCancel,
    visuallyHiddenText: i18n.updateDetailsCorrespondenceEmail
  }]) %}
{%endif%}
{% if profileDetailsUpdated.registeredOfficeAddress !== profileDetails.registeredOfficeAddress %}
  {% set updateStatusTextForBusinessAddress =
                "<div class='govuk-!-static-padding-top-3'>
                <p class='govuk-body govuk-!-static-margin-top-2'>"+i18n.updateYourDetailsModificationChangedOn+" "+changeDates.regOfficeAddress+"</p>
                <strong class='govuk-tag govuk-tag--blue govuk-!-static-margin-bottom-1'>"+i18n.updatedWarningCaption+"</strong>
                <p class='govuk-body-s'>"+i18n.updatedWarningNoteLineOne+"<br>"+i18n.updatedWarningNoteLineTwo+"</p>
                </div>"
  %}
  {% set businessAddressItems = businessAddressItems.concat([{
    href: cancelChangeUrl + "&cancel=registeredOfficeAddress",
    text: i18n.updateYourDetailsCancel,
    visuallyHiddenText: i18n.updateYourDetailsBusinessAddress
  }]) %}
{%endif%}
{% if profileDetailsUpdated.businessName !== profileDetails.businessName %}
  {% set updateStatusTextForBusinessName =
                "<div class='govuk-!-static-padding-top-3'>
                <p class='govuk-body govuk-!-static-margin-top-2'>"+i18n.updateYourDetailsModificationChangedOn+" "+changeDates.nameOfBusiness+"</p>
                <strong class='govuk-tag govuk-tag--blue govuk-!-static-margin-bottom-1'>"+i18n.updatedWarningCaption+"</strong>
                <p class='govuk-body-s'>"+i18n.updatedWarningNoteLineOne+"<br>"+i18n.updatedWarningNoteLineTwo+"</p>
                </div>"
  %}
  {% set businessNameItems = businessNameItems.concat([{
    href: cancelChangeUrl + "&cancel=businessName",
    text: i18n.updateYourDetailsCancel,
    visuallyHiddenText: i18n.updateYourDetailsBusinessName
  }]) %}
{%endif%}

<h2 class="govuk-heading-m">{{ i18n.updateUnincorporatedDetailsTableHeading }}</h2>
  {{ govukSummaryList({
      rows: [
      {
          key: {
            text: i18n.updateYourDetailsName,
            classes: "govuk-!-width-one-third"
          },
          value: {
            html: profileDetailsUpdated.name + updateStatusTextForName,
            classes: "govuk-!-width-one-third"
          },
        actions: {
            items: nameItems,
            classes: "govuk-!-width-one-third"
          }
      }if profileDetails.name,
      {
        key: {
          text: i18n.updateYourDetailsBusinessName,
          classes: "govuk-!-width-one-third"
        },
        value: {
          html: profileDetailsUpdated.businessName + updateStatusTextForBusinessName,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: businessNameItems,
            classes: "govuk-!-width-one-third"
          }
      },
      {
        key: {
          text: i18n.updateYourDetailsBusinessAddress,
          classes: "govuk-!-width-one-third"
        },
        value: {
          html: profileDetailsUpdated.registeredOfficeAddress + updateStatusTextForBusinessAddress,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: businessAddressItems,
          classes: "govuk-!-width-one-third"
          }
      },
      {
        key: {
          text: i18n.updateYourDetailsCorrespondenceAddress,
          classes: "govuk-!-width-one-third"
        },
        value: {
          html: profileDetailsUpdated.serviceAddress + updateStatusTextForCorrespondenceAddress,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: correspondenceAddressItems,
            classes: "govuk-!-width-one-third"
          }
      },
      {
        key: {
          text: i18n.updateDetailsCorrespondenceEmail,
          classes: "govuk-!-width-one-third"
        },
        value: {
          html: profileDetailsUpdated.correspondenceEmail + updateStatusTextForCorrespondenceEmail,
          classes: "govuk-!-width-one-third"
        },
        actions: {
            items: correspondenceEmailItems,
            classes: "govuk-!-width-one-third"
          }
      }
    ]
    })
}}