{% extends "layouts/default.njk" %}

{% block backLink %}
  {# Remove back button on this page by replacing it with nothing #}
{% endblock %}

{% block main_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ i18n.companyInactiveTitle }}</h1>
      <p class="govuk-body">
        {{ i18n.canNotRegister | replace('{companyName}', companyName) }}
      </p>
       <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/guidance/company-restoration-guide#process-to-restore-a-company-name-to-the-register-of-companies">{{ i18n.readThe | safe }}</a>
        {{ i18n.toFind }}
      </p>
      <p class="govuk-body">
        {{ i18n.ifThis }}
        <a class="govuk-link" href={{startPage}}>{{ i18n.startAgain }}</a>
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/contact-companies-house">{{ i18n.contactUs | safe }}</a>
        {{ i18n.ifYou }}
      </p>
    </div>
  </div>
{% endblock main_content %}
