{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% set title = i18n.checkAmlDetailsTitle %}
{% block main_content %}

  <form class="form" action="" method="post">
    {% if typeOfBusiness === "SOLE_TRADER" %}
        {% include "partials/user_name.njk" %}
    {% else %}   
        {% include "partials/business_name.njk" %}
    {% endif %}

    <h1 class="govuk-fieldset__heading">
        <label class="govuk-label govuk-label--l">{{ i18n.checkAmlDetailsTitle }}</label>
    </h1>
    {% if typeOfBusiness === "SOLE_TRADER" %}
       <p class="govuk-body">{{ i18n.checkAmlDetailsText1 }} {{ firstName }} {{ lastName }} . {{ i18n.checkAmlDetailsText4 }}</p>
    {% else %} 
       <p class="govuk-body">{{ i18n.checkAmlDetailsText1 }} {{ businessName }} . {{ i18n.checkAmlDetailsText4 }}</p>
    {% endif %}
    <p class="govuk-body">{{ i18n.checkAmlDetailsText2 }}</p>

    {# Prepare table rows #}
    {% set ROWS = [] %}
    {% for body in amlSupervisoryBodies %}
      {% set row = [
        {text: body.amlSupervisoryBody},
        {text: body.membershipId},
        {html: "<a href=" + url + "#" + "membershipNumber_" + loop.index + ">" + i18n.checkAmlDetailsChange + "</a>"}
      ] %}
      {% set ROWS = ROWS.concat([row]) %}
    {% endfor %}

    {{ govukTable({
      caption: i18n.checkAmlDetailsAntiMoney,
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: i18n.checkAmlDetailsSupervisoryBody
        },
        {
          text: i18n.checkAmlDetailsMemberShip
        },
        {
          text: ""
        }
      ],
      rows: ROWS
    }) }}

    {{ govukInsetText({
      text: i18n.checkAmlDetailsText3
    }) }}

    {{ govukButton({
      text: i18n.ConfirmAndContinue,
      attributes: {
          "data-event-id": "SAVE AND CONTINUE - Check AML details"
      }
    }) }}
  </form>
{% endblock %}