{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% extends "layouts/default.njk" %}

{% set title = i18n.whatIsTheBusinessNameTitle %}
{% block main_content %}
  <form action="" method="POST">    
    {{ govukInput({
      label: {
        text: i18n.whatIsTheBusinessNameTitle,
        classes: "govuk-label--l",
        isPageHeading: true
      },
      errorMessage: {
        text: errors["whatIsTheBusinessName"].text
      } if errors["whatIsTheBusinessName"] | length,
      classes: "govuk-input",
      id: "whatIsTheBusinessName",
      name: "whatIsTheBusinessName",
      value: payload["whatIsTheBusinessName"]     
    }) }}
    
    <button class="govuk-button" id="save-continue-button">{{i18n.SaveAndContinue}}</button>
  </form>

  <script nonce={{ nonce | dump | safe }}>
    trackEventBasedOnPageTitle("save-continue-button", "{{title}}", "click-button", "SAVE AND CONTINUE - Business-name");
  </script>

{% endblock main_content %}