{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}

{% set title = i18n.whatIsTheBusinessNameTitle %}
{% block main_content %}
  <form action="" method="POST">  
    {% include "partials/csrf_token.njk" %}  
    {{ govukInput({
      label: {
        text: i18n.whatIsTheBusinessNameTitle,
        classes: "govuk-label--l",
        isPageHeading: true
      },
      errorMessage: {
        text: errors["whatIsTheBusinessName"].text
      } if errors["whatIsTheBusinessName"] | length,
      classes: "govuk-input",
      id: "whatIsTheBusinessName",
      name: "whatIsTheBusinessName",
      value: payload["whatIsTheBusinessName"]     
    }) }}
    
    {% if reqType === "updateAcsp" %}
      <div class="govuk-button-group">
          {{ govukButton({
            text: i18n.Continue,
            id:"continue-button-id"
          })}}
          <a class="govuk-link" id="cancel-id" href={{previousPage}}>{{i18n.Cancel}}</a>
      </div>
    {% else %}
        {{ govukButton({
        text: i18n.SaveAndContinue,
        id:"save-continue-button"
        }) }}
    {% endif %}
  </form>
  {% endblock main_content %}
