{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}

{% set amlList = [] %}
{% if lang == "cy" %}
  {% set supervisoryBodies = AMLSupervisoryBodiesWelsh %}
{% else %}
  {% set supervisoryBodies = AMLSupervisoryBodies %}
{% endif %}
{% for body in amlDetails %}
    {% set amlSummaryObject = {
        key: {
            text:  i18n.checkYourAnswersAMLTab
        },
        value: {
            html:  "<ul class='govuk-list govuk-list--bullet'><li>" + supervisoryBodies[body.amlSupervisoryBody] + "</li><li>" + body.membershipId + "</li></ul>"
        },
        actions: {
            items: [
            {
                href: editAML + "#" + "membershipnumber_" + loop.index,
                text: i18n.checkYourAnswersChange,
                visuallyHiddenText: body.amlSupervisoryBody
            }
            ]
        }
    } %}
    {% set amlList = amlList.concat(amlSummaryObject) %}
{% endfor %}

{% set title = i18n.checkYourAnswersHeading %}
{% block main_content %}
    <form method="post">
        {% include "partials/csrf_token.njk" %}
        <h1 class="govuk-heading-xl">{{ i18n.checkYourAnswersHeading }}</h1>
        {% if typeOfBusiness === "SOLE_TRADER" %}
            {% include "partials/check-your-answers/sole-trader-answers.njk" %}
        {% elif typeOfBusiness === "LC" or typeOfBusiness === "LLP"  or typeOfBusiness === "CORPORATE_BODY"%}
            {% include "partials/check-your-answers/limited-answers.njk" %}
        {% elif typeOfBusiness === "PARTNERSHIP" or typeOfBusiness === "UNINCORPORATED" or typeOfBusiness === "LP" %}
            {% include "partials/check-your-answers/unincorporated-answers.njk" %}
        {% endif %}
        <h2 class="govuk-heading-m">{{ i18n.checkYourAnswersAMLHeading }}</h2>
        {{ govukSummaryList({
            rows: amlList
        })}}

        <div class="govuk-inset-text">
            <p>{{ i18n.checkYourAnswersInsetText1 }}</p>
            <p>{{ i18n.checkYourAnswersInsetText2 }}</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ i18n.checkYourAnswersBulletPoint1 }}</li>
                <li>{{ i18n.checkYourAnswersBulletPoint2 }}</li>
                <li>{{ i18n.checkYourAnswersBulletPoint3 }}</li>
            </ul>
        </div>

        {{ govukButton({
            text: i18n.continueToPayment,
            id: "continue-to-payment-button"
        }) }}
    </form>
    <script type="text/javascript" nonce={{ nonce | dump | safe }}>
    function continueEventListener () {
        document.getElementById("continue-to-payment-button").addEventListener("click", () => {
            _paq.push(['trackGoal', "{{ PIWIK_REGISTRATION_CHECK_YOUR_ANSWERS_ID }}"]);
        });
    }

    if (document.readyState === "loading") {
        document.addEventListener("DOMContentLoaded", function (e) {
            continueEventListener()
        });
    } else {
        continueEventListener()
    }
    </script>
{% endblock main_content %}