{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}

{% set errors = pageProperties.errors %}
{% set title = i18n.correspondenceLookUpAddressListTitle %}
{% block main_content %}
    {# Prepare address items #}
    {% set ITEMS = [] %}
    {% for addressOption in addresses %}
        {% set addressObject = {
            id: addressOption.propertyDetails,
            value: addressOption.propertyDetails,
            text: addressOption.propertyDetails + ", " + addressOption.line1 + ", " + addressOption.town + ", " + addressOption.postcode,
            checked: addressOption.propertyDetails == currentPremises,
            attributes: {
                "data-event-id": "address-option-" + addressOption.propertyDetails
            }
        } %}
        {% set ITEMS = ITEMS.concat(addressObject) %}
    {% endfor %}
    
    {# Form section #}
    <form action="" method="POST">
        {% if businessName %}
            {% include "partials/business_name.njk" %}
        {% endif %}
        {% if firstName %}
            {% include "partials/user_name.njk" %}
        {% endif %}  
        <div class="govuk-form-group">
            {# Render radios #}
            {{ govukRadios({
                errorMessage: errors.correspondenceAddress if errors,
                classes: "govuk-radios",
                id: "correspondence-address-in-radios",
                name: "correspondenceAddress",
                fieldset: {
                    legend: {
                        text: i18n.correspondenceLookUpAddressListTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                items: ITEMS
            }) }}
        </div>
        {{ govukButton({
            text: i18n.SaveAndContinue,
            attributes: {
              "data-event-id": "SAVE AND CONTINUE - Address Correspondence"
            }
          }) }}
    </form>
    
    {# Manual address entry link #}
    <p>
        <a href= {{ correspondenceAddressManualLink }} class="govuk-link" data-event-id="Enter address manually">{{ i18n.correspondenceLookUpAddressManuallyBtn }}</a>
    </p>
{% endblock main_content %}
