{% extends "layouts/default.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block backLink %}
  {# Remove back button on this page by replacing it with nothing #}
{% endblock %}
{% block main_content %}
{% set title = i18n.startPageTitleUpdateAcsp %}
  <form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
    {% include "partials/csrf_token.njk" %}
    <h1 class="govuk-heading-l">
      {{ i18n.startPageTitleUpdateAcsp }}
    </h1>
    <p class="govuk-body">
      {{ i18n.useThisServiceUpdateAcsp }}
    </p>
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          {{ i18n.ifDetailsChangeWarningText }}
        </strong>
    </div>
   
    {{ govukButton({
        text: i18n.Continue,
        id: "continue-button",
        isStartButton: true
    }) }}

  </form>
  
  <script nonce={{ nonce | dump | safe }}>

    function updateAcspDetailsStartGoalEventListener () {
      document.getElementById("continue-button").addEventListener("click", () => {
      _paq.push(['trackGoal', "{{ PIWIK_UPDATE_ACSP_START_GOAL_ID }}"]);
    });
    }

    if (document.readyState === "loading") {
      document.addEventListener("DOMContentLoaded", function (e) {
        updateAcspDetailsStartGoalEventListener()
      });
    } else {
      updateAcspDetailsStartGoalEventListener()
    }
  </script>

{% endblock %}