{% extends "layouts/default.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block backLink %}
  {# Remove back button on this page by replacing it with nothing #}
{% endblock %}
{% block main_content %}
{% set title = i18n.startPageTitleUpdateAcsp %}
  <form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
    {% include "partials/csrf_token.njk" %}
    <h1 class="govuk-heading-l">
      {{ i18n.startPageTitleUpdateAcsp }}
    </h1>
    <p class="govuk-body">
      {{ i18n.useThisServiceUpdateAcsp }} {{ businessName }}.
    </p>
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          {{ i18n.ifDetailsChangeWarningText }}
        </strong>
    </div>
   
    {{ govukButton({
        text: i18n.Continue,
        id: "continue-button-id",
        isStartButton: true
    }) }}

  </form>
  {% endblock %}
