{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% extends "layouts/default.njk" %}

{% block main_content %}

<main>
    <form action="" method="POST">
        {% include "partials/user_name.njk" %}
        <div class="govuk-form-group">
            {{ govukRadios({
                errorMessage: errors.sectorYouWorkIn if errors,
                classes: "govuk-radios",
                id: "name-registered-with-aml-body-radios",
                name: "nameRegisteredWithAmlBody",
                fieldset: {
                    legend: {
                        text: i18n.nameRegisteredWithAmlBodyTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                    {
                        value: "NAME_OF_THE_BUSINESS",
                        text: i18n.nameRegisteredWithAmlBodyNameOfTheBusinessOption,
                        checked: sector-you-work-in == NAME_OF_THE_BUSINESS,
                        attributes: {
                            "data-event-id": "name-of-the-business-option"
                        }
                    },
                    {
                        value: "YOUR_NAME",
                        text: i18n.nameRegisteredWithAmlBodyYourNameOption,
                        checked: sector-you-work-in == YOUR_NAME,
                        attributes: {
                            "data-event-id": "your-company-option"
                        }
                    },
                    {
                        value: "BOTH",
                        text: i18n.nameRegisteredWithAmlBodyBothOption,
                        checked: sector-you-work-in == BOTH,
                        attributes: {
                            "data-event-id": "both-option"
                        }
                    }
                ]
                }) }}
        </div>
        <button class="govuk-button">{{i18n.nameRegisteredWithAmlBodyContinueBtn}}</button>
    </form>
</main>

    
{% endblock main_content %}