{% extends "layouts/default.njk" %}
{% block main_content %}
    <h1 class="govuk-heading-l">{{ i18n.cannotUseServiceWhileSuspendedHeading }}</h1>
    <p class="govuk-body">{{ i18n.cannotTellUs | replace('{BUSINESS_NAME}', businessName) }}</p>
    <p class="govuk-body">{{ i18n.moreInformationSuspended | replace('{BUSINESS_NAME}', businessName) }}</p>
    <p class="govuk-body">{{ i18n.contactUsSuspended }}</p>
    <p class="govuk-body">
        <a id="authorised-agent-account-link-id" href={{ authorisedAgentLink }}>{{ i18n.linkAuthorisedAgentAccount }}</a>.
    </p>
    {% endblock main_content %}