<!-- router_views/index/stop-not-relevant-officer.njk -->
{% extends "layouts/default.njk" %}
{% block backLink %}
  {# Remove back button on this page by replacing it with nothing #}
{% endblock %}
{% block main_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <h1 class="govuk-fieldset__heading">
          <label class="govuk-label govuk-label--l">{{i18n.cannotUseServiceTitle}}</label>
       </h1>
      <p class="govuk-body">{{ i18n.listOfAuthorisedAgent }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ i18n.director }}</li>
        <li>{{ i18n.generalPartner }}</li>
        <li>{{ i18n.partner }}</li>
        <li>{{ i18n.soleTrader }}</li>
      </ul>
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">{{ i18n.guidancePageText }}</a>
        {{ i18n.moreInformation }}
      </p>
    </div>
  </div>
{% endblock %}