{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}

{% if typeOfBusiness === "limited-company" or typeOfBusiness === "limited-liability-partnership"  or typeOfBusiness === "corporate-body" %}
  {% set title = i18n.registeredOfficeAddressConfirmTitle %}
{% else %}
  {% set title = i18n.businessAddressConfirmTitle %} 
{% endif %}
{% block main_content %}
 {% set businessAddressField = businessAddress.premises + " " + businessAddress.addressLine1 + ", " %}
  <form action="{{ currentUrl }}" method="post">
    {% include "partials/csrf_token.njk" %}
    {% include "partials/business_name.njk" %}
    {% if typeOfBusiness === "limited-company" or typeOfBusiness === "limited-liability-partnership"  or typeOfBusiness === "corporate-body" %}
      <h1 class="govuk-heading-l">{{ i18n.registeredOfficeAddressConfirmTitle }}</h1>
    {% else %}
      <h1 class="govuk-heading-l">{{ i18n.businessAddressConfirmTitle }}</h1>
    {% endif %}
    <ul class="govuk-list">
      <li>{{ businessAddressField }}</li>
      <li>{{ businessAddress.addressLine2 }}</li>
      <li>{{ businessAddress.locality }}</li>
      <li>{{ businessAddress.region }}</li>
      <li>{{ businessAddress.country }}</li>
      <li>{{ businessAddress.postalCode }}</li>
    </ul>
    <p class="govuk-body">
      <a href={{editAddress}} class="govuk-link govuk-link--no-visited-state" id="edit-address-link">{{ i18n.EditAddress }}</a>
    </p>
    {{ govukButton({
      text: i18n.ConfirmAndContinue,
      id:"save-continue-button"
    }) }}
  </form>
{% endblock main_content %}