{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% extends "layouts/default.njk" %}
{% set title = i18n.typeOfBusinessTitle %}
{% block main_content %}
  <form action="" method="POST">
    {% include "partials/user_name.njk" %}
    {{ govukRadios({
      errorMessage: errors.typeOfBusinessRadio if errors,
      classes: "govuk-radios",
      id: "type-of-business-radios",
      name: "typeOfBusinessRadio",
      fieldset: {
        legend: {
          text: i18n.typeOfBusinessTitle,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      value: typeOfBusiness,
      items: [
        {
          value: "LC",
          text: i18n.typeOfBusinessLimitedCompanyOption
        }if not FEATURE_FLAG_DISABLE_LIMITED_JOURNEY,
        {
          value: "LP",
          text: i18n.typeOfBusinessLimitedPartnershipOption
        },
        {
          value: "LLP",
          text: i18n.typeOfBusinessLimitedLiabilityPartnershipsOption
        },
        {
          value: "PARTNERSHIP",
          text: i18n.typeOfBusinessPartnershipNotRegisteredWithCompaniesHouseOption
        }if not FEATURE_FLAG_DISABLE_PARTNERSHIP_JOURNEY,
        {
          value: "SOLE_TRADER",
          text: i18n.typeOfBusinessSoleTraderOption
        },
        {
          value: "OTHER",
          text: i18n.typeOfBusinessOtherOption
        }
      ]
    }) }}
    
    {{ govukButton({
      text: i18n.SaveAndContinue,
      id:"save-continue-button",
      attributes: {
        "onClick": "continueOnClick()"
      }
    }) }}
  </form>
  <script type="text/javascript">
    function continueOnClick() {
      const selectedOption = document.querySelector('input[name="typeOfBusinessRadio"]:checked');
      if (selectedOption){
        const selectedValue = selectedOption.value;
        if (selectedValue !== "OTHER") {
          trackGoal(selectedValue);
        }
      }
    }
    function trackGoal(goal){
      let goalId;
      switch(goal) {
        case "LC":
          goalId = 1;
          break;
        case "LP":
          goalId = 2;
          break;
        case "LLP":
          goalId = 3;
          break;
        case "PARTNERSHIP":
          goalId = 4;
          break;
        case "SOLE_TRADER":
          goalId = 5;
          break;
      }
      _paq.push(['trackGoal', goalId]);
    }
  </script>
{% endblock main_content %}