{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% extends "layouts/default.njk" %}
{% set title = i18n.typeOfBusinessTitle %}
{% block main_content %}
  <form action="" method="POST">
    {% include "partials/user_name.njk" %}
    {{ govukRadios({
      errorMessage: errors.typeOfBusinessRadio if errors,
      classes: "govuk-radios",
      id: "type-of-business-radios",
      name: "typeOfBusinessRadio",
      fieldset: {
        legend: {
          text: i18n.typeOfBusinessTitle,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      value: typeOfBusiness,
      items: [
        {
          value: "LC",
          text: i18n.typeOfBusinessLimitedCompanyOption,
          id:"LC"
        }if not FEATURE_FLAG_DISABLE_LIMITED_JOURNEY,
        {
          value: "LP",
          text: i18n.typeOfBusinessLimitedPartnershipOption,
          id:"LP"
        },
        {
          value: "LLP",
          text: i18n.typeOfBusinessLimitedLiabilityPartnershipsOption,
          id: "LLP"
        },
        {
          value: "PARTNERSHIP",
          text: i18n.typeOfBusinessPartnershipNotRegisteredWithCompaniesHouseOption,
          id:"PARTNERSHIP"
        }if not FEATURE_FLAG_DISABLE_PARTNERSHIP_JOURNEY,
        {
          value: "SOLE_TRADER",
          text: i18n.typeOfBusinessSoleTraderOption,
          id:"SOLE_TRADER"
        },
        {
          value: "OTHER",
          text: i18n.typeOfBusinessOtherOption,
          id:"OTHER"
        }
      ]
    }) }}
    {{ govukButton({
      text: i18n.SaveAndContinue,
      id:"save-continue-button",
      attributes: {
        "onClick": "continueOnClick()"
      }
    }) }}
  </form>
  <script type="text/javascript">
    function continueOnClick() {
      const selectedOption = document.querySelector('input[name="typeOfBusinessRadio"]:checked');
      if (selectedOption) {
        const selectedValue = selectedOption.value;
        if (selectedValue !== "OTHER") {
          trackGoal(selectedValue);
        }
      }
    }
    function trackGoal(goal) {
      let goalId;
      switch (goal) {
        case "LC": goalId = "{{PIWIK_REGISTRATION_LC_ID}}";
          break;
        case "LP": goalId = "{{PIWIK_REGISTRATION_LP_ID}}";
          break;
        case "LLP": goalId = "{{PIWIK_REGISTRATION_LLP_ID}}";
          break;
        case "PARTNERSHIP": goalId = "{{PIWIK_REGISTRATION_PARTNERSHIP_ID}}";
          break;
        case "SOLE_TRADER": goalId = "{{PIWIK_REGISTRATION_SOLE_TRADER_ID}}";
          break;
      }
      _paq.push(['trackGoal', goalId]);
    }
  </script>
  <script>
  </script>
{% endblock main_content %}