{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% set errors = pageProperties.errors %}
{% block backLink %}
  {# Remove back button on this page by replacing it empty div to keep the nav bar underline correct #}
  <div class="back-link-removed-div"></div>
  {% endblock %}
{% set title = i18n.amlInterruptTitle %}
{% block main_content %}
    <form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
        {% include "partials/csrf_token.njk" %}
        <h1 class="govuk-heading-l">{{ i18n.amlInterruptTitle }}</h1>
        <p class="govuk-body">{{ i18n.text1 }}</p>
        <p class="govuk-body">{{ i18n.text2 }}</p>
        <h2 class="govuk-heading-m">{{ i18n.text5 }}</h2>
        <p class="govuk-body">{{ i18n.text3 }}
            <a class="govuk-link" href={{amlRegistration}} target="”_blank”" id="register-company-link">
                {{ i18n.link1 }}
            </a>
            {{ i18n.first }}
        </p>
        <p class="govuk-body">{{ i18n.text4 }}
            <a class="govuk-link" href={{soleTrader}} id="apply-sole-trader-link">
                {{ i18n.link2 }}
            </a>
        </p>
    </form>
{% endblock main_content %}