{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% set errors = pageProperties.errors%}
{% extends "layouts/default.njk" %}
{% block main_content %}

<div>
    <form action="nationality" method="post">

        <fieldset class="govuk-fieldset">
            <div id="typeahead-form-group-0" class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label for="nationality_input_0" class="govuk-label govuk-label--l">What is your nationality?</label>
                </h1>
                <p class="govuk-hint" id="typeahead-hint-0">Start typing a nationality, then choose from the list.</p>
                <span class="govuk-caption-l">{{ firstName }} {{ lastName }}</span>
                <div id="nationality-0" class="autocomplete-wrapper govuk-!-width-two-thirds">
                {% set errorMessage = error %}

     {{ govukErrorMessage({
                  text: errors["nationality_input_0"].text
                }) }}



                </div>
            </div>

            <div id="second-nationality" class="second-nationality">
                <div id="typeahead-form-group-1" class="govuk-form-group ">
                    <label for="nationality_input_1" class="govuk-label">Second nationality (if
                        relevant)</label>
                    <p class="govuk-hint" id="typeahead-hint-1">Dual citizenship (also known as dual nationality) is allowed in some
                        countries. This means you can be a citizen of your own country and another country.</p>
                    <div id="nationality-1" class="autocomplete-wrapper govuk-!-width-two-thirds">


                {{ govukErrorMessage({
                  text: errors["nationality_input_1"].text
                }) }}



                    </div>
                </div>

            </div>
            <div id="third-nationality" class="third-nationality">
                <div id="typeahead-form-group-2" class="govuk-form-group ">
                    <label for="nationality_input_2" class="govuk-label">Third nationality (if
                        relevant)</label>
                    <p class="govuk-hint" id="typeahead-hint-2">Multiple citizenship (also known as multiple nationality) is allowed
                        in some countries. This means you can be a citizen of your own country and two other
                        countries.</p>
                    <div id="nationality-2" class="autocomplete-wrapper govuk-!-width-two-thirds">


                {{ govukErrorMessage({
                  text: errors["nationality_input_2"].text
                }) }}



                {% include "../../../partials/nationality-typeahead-input.njk" %}
                    </div>
                </div>
            </div>

        </fieldset>


        {{ govukButton({
        text: "Continue"
        }) }}

    </form>
    <script type="text/javascript" src="assets/src/js/accessible-autocomplete.min.js"></script>
    <script type="text/javascript" src="assets/src/js/nationality.js"></script>

</div>


{% endblock main_content %}

