{% extends "layouts/default.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set errors = pageProperties.errors %}

{% if typeOfBusiness === "limited-company" or typeOfBusiness === "limited-liability-partnership"  or typeOfBusiness === "corporate-body" %}
  {% set title = i18n.registeredOfficeLookUpAddressTitle %}
  {% set insetTextForLimitedJourneyUpdateAcsp = 
    i18n.thisWillOnlyUpdateTheAddressInsetTextUpdateAcsp 
    + "<a class='govuk-link' id='change-company-address-link' href='https://www.gov.uk/government/publications/change-a-registered-office-address-ad01' target='_blank'>" 
    + i18n.changeTheCompanyRegOfficeInsetTextLinkUpdateAcsp + "</a>" + "." %}
{% else %}
  {% set title = i18n.businessLookUpAddressTitle %} 
{% endif %}

{% block main_content %}
  <div class="govuk-width-container">
    <form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
      {% include "partials/csrf_token.njk" %}
      {% if businessName %}
        {% include "partials/business_name.njk" %}
      {% endif %}
      {% if typeOfBusiness === "limited-company" or typeOfBusiness === "limited-liability-partnership" or typeOfBusiness === "corporate-body" %}
        <h1 class="govuk-heading-l">{{ i18n.registeredOfficeLookUpAddressTitle }}</h1>
      {% else %}
        <h1 class="govuk-heading-l">{{ i18n.businessLookUpAddressTitle }}</h1>
      {% endif %}
      <div class="govuk-form-group">
        {{ govukInput({
                label: {
                    text: i18n.correspondenceLookUpAddressPostCodeInput
                },
                errorMessage: {
                    text: errors.postCode.text
                } if errors.postCode | length,
                classes: "govuk-input--width-10",
                id: "postCode",
                name: "postCode",
                autocomplete: "postal-code",
                value: payload.postCode
            }) }}
        {{ govukInput({
                label: {
                    text: i18n.correspondenceLookUpAddressInputHint1
                },
                errorMessage: {
                    text: errors.premise.text
                } if errors.premise | length,
                classes: "govuk-input--width-10",
                id: "premise",
                name: "premise",
                autocomplete: "street-address",
                value: payload.premise,
                hint: {
                  text: i18n.businessLookUpAddressPostcodeHint,
                  classes: "govuk-hint"
                }
            }) }}
      </div>
    {% if reqType === "updateAcsp" %}
      {% if insetTextForLimitedJourneyUpdateAcsp %}
        {{ govukInsetText({
          html: insetTextForLimitedJourneyUpdateAcsp
        }) }}
      {% endif %}
      <div class="govuk-button-group">
        {{ govukButton({
          text: i18n.correspondenceLookUpAddressFindAddressBtn,
          id: "find-address-id"
        })}}
        <a class="govuk-link" id="cancel-id" href={{previousPage}}>{{i18n.CancelUpdate}}</a>
      </div>
    {% else %}
      {{ govukButton({
        text: i18n.correspondenceLookUpAddressFindAddressBtn,
        id:"find-address-id"
      }) }}
    {% endif %}
      <p>
        <a href={{ businessAddressManualLink }} class="govuk-link" id="manual-address-id">{{ i18n.correspondenceLookUpAddressManuallyBtn }}</a>
      </p>
    </form>
  </div>
{% endblock %}