{% extends "layouts/default.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set errors = pageProperties.errors %}

{% set title = i18n.businessLookUpAddressTitle %}
{% block main_content %}
  <div class="govuk-width-container">
    <form action="" method="POST">
      {% if businessName %}
        {% include "partials/business_name.njk" %}
      {% endif %}
      <h1 class="govuk-heading-l">{{ i18n.businessLookUpAddressTitle }}</h1>
      <div class="govuk-form-group">
        {{ govukInput({
                label: {
                    text: i18n.correspondenceLookUpAddressPostCodeInput
                },
                errorMessage: {
                    text: errors.postCode.text
                } if errors.postCode | length,
                classes: "govuk-input--width-10",
                id: "postCode",
                name: "postCode",
                autocomplete: "postal-code",
                value: payload.postCode
            }) }}
        {{ govukInput({
                label: {
                    text: i18n.correspondenceLookUpAddressInputHint1
                },
                errorMessage: {
                    text: errors.premise.text
                } if errors.premise | length,
                classes: "govuk-input--width-10",
                id: "premise",
                name: "premise",
                autocomplete: "street-address",
                value: payload.premise,
                hint: {
                  text: i18n.correspondenceLookUpAddressInputHint2,
                  classes: "govuk-hint"
                }
            }) }}
      </div>
      {{ govukButton({
           text: i18n.correspondenceLookUpAddressFindAddressBtn,
           id:"find-address-id"
         }) }}
      <p>
        <a href={{ businessAddressManualLink }} class="govuk-link" id="manual-address-id">{{ i18n.correspondenceLookUpAddressManuallyBtn }}</a>
      </p>
    </form>
  </div>
          <script>
          trackEventBasedOnPageTitle("find-address-id", "click-button", "FIND ADDRESS");
        trackEventBasedOnPageTitle("manual-address-id", "click-link", "Enter address manually");
        </script>
{% endblock %}