{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% set errors = pageProperties.errors %}

{# Prepare address items #}
{% set ITEMS = [] %}
{% for addressOption in addresses %}
    {% set addressObject = {
        id: addressOption.propertyDetails,
        value: addressOption.propertyDetails,
        text: addressOption.propertyDetails + ", " + addressOption.line1 + ", " + addressOption.town + ", " + addressOption.postcode,
        checked: addressOption.propertyDetails == currentPremises,
        attributes: {
            "data-event-id": "address-option-" + addressOption.propertyDetails
        }
    } %}
    {% set ITEMS = ITEMS.concat(addressObject) %}
{% endfor %}

{% set title = i18n.businessLookUpAddressListTitle %}
{% block main_content %}
    {# Form section #}
    <form action="" method="POST">
        {% if businessName %}
            {% include "partials/business_name.njk" %}
        {% endif %}
        {# Render radios #}
        {{ govukRadios({
            errorMessage: errors.businessLookUpAddressList if errors,
            classes: "govuk-radios",
            id: "business-address-in-radios",
            name: "businessAddress",
            fieldset: {
                legend: {
                    text: i18n.businessLookUpAddressListTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            items: ITEMS
        }) }}
         {{ govukButton({
             text: i18n.SaveAndContinue,
             id:"save-continue-button"
           }) }}
    </form>
    {# Manual address entry link #}
    <p>
        <a href={{ businessAddressManualLink }} class="govuk-link" id="manual-address-id">{{ i18n.correspondenceLookUpAddressManuallyBtn }}</a>
    </p>

<script>
    trackEventBasedOnPageTitle("manual-address-id", "click-link", "Enter address manually");
    trackEventBasedOnPageTitle("save-continue-button", "click-button", "SAVE AND CONTINUE - Address business");
</script>

{% endblock main_content %}