{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}

{% set errors = pageProperties.errors %}
{% set title = i18n.businessLookUpAddressListTitle %}
{% block main_content %}
{# Prepare address items #}
{% set ITEMS = [] %}
{% for addressOption in addresses %}
    {% set addressObject = {
        id: addressOption.premises,
        value: addressOption.premises,
        text: addressOption.premises + ", " + addressOption.addressLine1 + ", " + addressOption.locality + ", " + addressOption.postalCode,
        checked: addressOption.premises == currentPremises
    } %}
    {% set ITEMS = ITEMS.concat(addressObject) %}
{% endfor %}
    {# Form section #}
    <form action="" method="POST">
        {% include "partials/csrf_token.njk" %}
        {% if businessName %}
            {% include "partials/business_name.njk" %}
        {% endif %}
        <div class="govuk-form-group">
        {# Render radios #}
        {{ govukRadios({
            errorMessage: errors.businessLookUpAddressList if errors,
            classes: "govuk-radios",
            id: "business-address-in-radios",
            name: "businessAddress",
            fieldset: {
                legend: {
                    text: i18n.businessLookUpAddressListTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            items: ITEMS
        }) }}
        </div>
         {{ govukButton({
             text: i18n.SaveAndContinue,
             id:"save-continue-button"
           }) }}
    </form>
    {# Manual address entry link #}
    <p>
        <a href={{ businessAddressManualLink }} class="govuk-link" id="manual-address-id">{{ i18n.correspondenceLookUpAddressManuallyBtn }}</a>
    </p>

<script nonce={{ nonce | dump | safe }}>
    trackEventBasedOnPageTitle("manual-address-id", "{{title}}", "click-link", "Enter address manually");
</script>

{% endblock main_content %}