{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}
{% set errors = pageProperties.errors %}
{% set title = i18n.correspondenceLookUpAddressTitle %}
{% block main_content %}
  <form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
    {% include "partials/csrf_token.njk" %}
    {% if businessName %}
      {% include "partials/business_name.njk" %}
    {% elif firstName %}
      {% include "partials/user_name.njk" %}
    {% endif %}
    <h1 class="govuk-heading-l">
      {{ i18n.correspondenceLookUpAddressTitle }}
    </h1>
    {{ govukInput({
      label: {
        text: i18n.correspondenceLookUpAddressPostCodeInput
      },
      errorMessage: {
        text: errors.postCode.text
      } if errors.postCode | length,
      classes: "govuk-input--width-10",
      id: "postCode",
      name: "postCode",
      autocomplete: "postal-code",
      value: payload.postCode,
      hint: {
        text: i18n.correspondenceLookUpAddressInputHint2,
        classes: "govuk-hint"
      }
    }) }}
    {{ govukInput({
      label: {
        text: i18n.correspondenceLookUpAddressInputHint1
      },
      errorMessage: {
        text: errors.premise.text
      } if errors.premise | length,
      classes: "govuk-input--width-10",
      id: "premise",
      name: "premise",
      autocomplete: "street-address",
      value: payload.premise
    }) }}
    {{ govukButton({
      text: i18n.correspondenceLookUpAddressFindAddressBtn,
      id:"find-address-id"
    }) }}
    <p>
      <a href={{correspondenceAddressManualLink}} class="govuk-link" id="manual-address-id">{{ i18n.correspondenceLookUpAddressManuallyBtn }}</a>
    </p>
  </form>
  {% endblock %}