{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% extends "layouts/default.njk" %}
{% set title = i18n.addressSelectorTitle %}
{% block main_content %}
{% set optionalFields = "" %}
    {% if businessAddress.premises %}
        {% set optionalFields = businessAddress.premises + ", " %}
    {% endif %}
    {% if businessAddress.addressLine1 %}
        {% set optionalFields = optionalFields + businessAddress.addressLine1 + ", " %}
    {% endif %}
    {% if businessAddress.addressLine2 %}
        {% set optionalFields = optionalFields + businessAddress.addressLine2 + ", " %}
    {% endif %}
    {% if businessAddress.locality %}
        {% set optionalFields = optionalFields + businessAddress.locality + ", " %}
    {% endif %}
    {% if businessAddress.region %}
        {% set optionalFields = optionalFields + businessAddress.region + ", " %}
    {% endif %}
        {% if businessAddress.country %}
        {% set optionalFields = optionalFields + businessAddress.country + ", " %}
    {% endif %}

    <form action="" method="POST">
        {% if businessName %}
            {% include "partials/business_name.njk" %}
        {% endif %}
        <div class="govuk-form-group">
            {{ govukRadios({
                errorMessage: errors.addressSelectorRadio if errors,
                classes: "govuk-radios",
                id: "address-selector-radios",
                name: "addressSelectorRadio",
                fieldset: {
                    legend: {
                        text: i18n.addressSelectorTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                value: addressOption,
                items: [
                    {
                        value: "CORRESPONDANCE_ADDRESS",
                        text: optionalFields + businessAddress.postalCode,
                        attributes: {
                            "data-event-id": "correspondance-address"
                        }
                    },
                    {
                        value: "DIFFERENT_ADDRESS",
                        text: i18n.addressSelectorDifferentAddress,
                        id: "different-address-id",
                        attributes: {
                            "data-event-id": "different-address"
                        }
                    }
                ]
                }) }}
        </div>
        <button class="govuk-button" id="save-continue-button" data-event-id="SAVE AND CONTINUE">{{ i18n.SaveAndContinue}}</button>
    </form>
        <script>
        trackEventBasedOnPageTitle("different-address-id", "select-option", "different-address");
        trackEventBasedOnPageTitle("save-continue-button", "click-button", "SAVE AND CONTINUE");
        </script>
{% endblock main_content %}