{% extends "layouts/default.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% set errors = pageProperties.errors %}
{% block main_content %}


  <form action="company-lookup" method="POST">
    <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
    <div id="typeahead-form-group-0" class="govuk-form-group">

      {{ govukInput({
      label: {
      text: "What is the company number?",
      classes: "govuk-label--l",
      isPageHeading: true
      },
      classes: "govuk-input--width-10",
      hint: {
      text: "A company number is 8 characters long."
      },
      id: "companyNumber",
      name: "companyNumber",
      value: payload["companyNumber"],
      errorMessage: {
      text: errors["companyNumber"].text
      } if errors
      

      }) }}
</div>

<div id="typeahead-form-group-1" class="govuk-form-group">

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with nationality
          </span>
        </summary>
        <div class="govuk-details__text">You can find this by searching for the company on the<br>
            <a href="https://find-and-update.company-information.service.gov.uk/"> Companies House register (opens in new tab)</a>.
        </div>
      </details>
      </div>


       </fieldset>
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </form>
  {% endblock %}