{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% set errors = pageProperties.errors %}

{% set title = i18n.businessAddressManualTitle %}
{% block main_content %}
<form action="" method="POST">
    {% include "partials/business_name.njk" %}
    <div class="govuk-form-group">
        {{ govukFieldset({
            legend: {
                text: i18n.businessAddressManualTitle,
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
            }  
        }) }}
        {{ govukInput({
            label: {
                text: i18n.addressPropertyDetails
            },
            hint: {
                text: i18n.addressPropertyDetailsHint
            },
            id: "addressPropertyDetails",
            name: "addressPropertyDetails",
            value: payload["propertyDetails"],
            errorMessage: {
                text: errors["addressPropertyDetails"].text
            } if errors.addressPropertyDetails
        }) }}
        {{ govukInput({
            label: {
                text: i18n.addressLine1
            },
            id: "addressLine1",
            name: "addressLine1",
            value: payload["addressLine1"],
            errorMessage: {
                text: errors["addressLine1"].text
            } if errors.addressLine1
        }) }}
        {{ govukInput({
            label: {
                text: i18n.addressLine2
            },
            id: "addressLine2",
            name: "addressLine2",
            value: payload["addressLine2"],
            errorMessage: {
                text: errors["addressLine2"].text
            } if errors.addressLine2
        }) }}
        {{ govukInput({
            label: {
                text: i18n.addressTown
            },
            classes: "govuk-!-width-two-thirds",
            id: "addressTown",
            name: "addressTown",
            value: payload["addressTown"],
            errorMessage: {
                text: errors["addressTown"].text
            } if errors.addressTown
        }) }}
        {{ govukInput({
            label: {
                text: i18n.addressCounty
            },
            classes: "govuk-!-width-two-thirds",
            id: "addressCounty",
            name: "addressCounty",
            value: payload["addressCounty"],
            errorMessage: {
                text: errors["addressCounty"].text
            } if errors.addressCounty
        }) }}
          
        {{ govukSelect({
            id: "addressCountry",
            name: "addressCountry",
            label: {
                text: i18n.addressCountry
            },
            value: payload.addressCountry,
            errorMessage: {
                text: errors.addressCountry.text
              } if errors.addressCountry,
            items: [
                {
                    value: "",
                    text: i18n.selectCountry
                },
                {
                    value: "England",
                    text: i18n.england
                },
                {
                    value: "Northern Ireland",
                    text: i18n.northernIreland
                },
                {
                    value: "Scotland",
                    text: i18n.scotland
                },
                {
                    value: "Wales",
                    text: i18n.wales
                }
            ]
        }) }}
        {{ govukInput({
            label: {
                text: i18n.addressPostcode
            },
            classes: "govuk-input--width-10",
            id: "addressPostcode",
            name: "addressPostcode",
            value: payload["addressPostcode"],
            errorMessage: {
                text: errors["addressPostcode"].text
            } if errors.addressPostcode
        }) }}
    </div>
    <button class="govuk-button" id="save-continue-button">{{ i18n.SaveAndContinue }}</button>
</form>

  <script>
    trackEventBasedOnPageTitle("save-continue-button", "{{title}}", "click-button", "SAVE AND CONTINUE");
  </script>

{% endblock main_content %}