<h2 class="govuk-heading-m">{{ i18n.checkYourAnswersUnincorportatedDetailsHeading }}</h2>
{{ govukSummaryList({
    rows: [
      {
        key: {
          text: i18n.typeOfBusiness
        },
        value: {
          text: detailsAnswers.typeofBusiness
        }
      },

      {
        key: {
          text: i18n.checkAnswersNameWithAML
        },
        value: {
          text: detailsAnswers.nameRegisteredWithAML
        },
        actions: {
            items: [
              {
                href: "/register-as-companies-house-authorised-agent/unincorporated/name-registered-with-aml",
                text: "Change",
                visuallyHiddenText: i18n.checkAnswersNameWithAML
              }
            ]
          }
      },

      {
        key: {
          text: i18n.checkAnswersYourName
        },
        value: {
          text: detailsAnswers.name
        },
        actions: {
            items: [
              {
                href: "/register-as-companies-house-authorised-agent/unincorporated/what-is-your-name",
                text: "Change",
                visuallyHiddenText: i18n.checkAnswersYourName
              }
            ]
          }
      } if detailsAnswers.name | length,

      {
        key: {
          text: i18n.checkAnswersBusinessName
        },
        value: {
          text: detailsAnswers.businessName
        },
        actions: {
            items: [
              {
                href: "/register-as-companies-house-authorised-agent/unincorporated/what-is-the-business-name",
                text: "Change",
                visuallyHiddenText: i18n.checkAnswersBusinessName
              }
            ]
          }
      },

      {
        key: {
          text: i18n.yourRole
        },
        value: {
          text: detailsAnswers.roleType
        },
        actions: {
          items: [
            {
              href: "/register-as-companies-house-authorised-agent/unincorporated/what-is-your-role",
              text: "Change",
              visuallyHiddenText: i18n.yourRole
            }
          ]
        }
      },
      
      {
        key: {
          text: i18n.businessSector
        },
        value: {
          text: detailsAnswers.workSector
        },
        actions: {
            items: [
              {
                href: "/register-as-companies-house-authorised-agent/unincorporated/which-sector",
                text: "Change",
                visuallyHiddenText: i18n.businessSector
              }
            ]
          }
      },
      
      {
        key: {
          text: i18n.checkAnswersBusinessAddress
        },
        value: {
          html: detailsAnswers.businessAddress
        },
        actions: {
            items: [
              {
                href: "/register-as-companies-house-authorised-agent/unincorporated/business-address-lookup",
                text: "Change",
                visuallyHiddenText: i18n.checkAnswersBusinessAddress
              }
            ]
          }
      },

      {
        key: {
          text: i18n.correspondeceAddress
        },
        value: {
          html: detailsAnswers.correspondenceAddress
        },
        actions: {
            items: [
              {
                href: "/register-as-companies-house-authorised-agent/unincorporated/what-is-the-correspondence-address",
                text: "Change",
                visuallyHiddenText: i18n.correspondeceAddress
              }
            ]
          }
      }
    ]
    })
}}