{% from "govuk/components/footer/macro.njk" import govukFooter %}
{{ govukFooter({
    meta: {
        items: [
            {
            href: "https://resources.companieshouse.gov.uk/serviceInformation.shtml",
            text: "Policies"
            },
            {
            href: "/help/cookies",
            text: "Cookies"
            },
            {
            href: "/help/contact-us",
            text: "Contact us"
            },
            {
            href: "/register-as-companies-house-authorised-agent/accessibility-statement",
            text: "Accessibility statement"
            },
            {
            href: "https://developer.company-information.service.gov.uk/",
            text: "Developers"
            }
        ]
    }
}) }}
<div id="templateName" data-id="{{title}}" hidden></div>