{% from "govuk/components/footer/macro.njk" import govukFooter %}
{{ govukFooter({
    meta: {
        items: [
            {
            href: "https://resources.companieshouse.gov.uk/serviceInformation.shtml",
            text: "Policies"
            },
            {
            href: "/help/cookies",
            text: "Cookies"
            },
            {
            href: "/help/contact-us",
            text: "Contact us"
            },
            {
            href: "/register-as-companies-house-authorised-agent/accessibility-statement",
            text: "Accessibility statement"
            },
            {
            href: "https://developer.company-information.service.gov.uk/",
            text: "Developers"
            }
        ]
    }
}) }}
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);

  _paq.push(['trackEvent', document.title, 'Event Action', 'Event Name', 'Event Value']);
  
  
  _paq.push(['enableLinkTracking']);
  (function () {
    var u = "//matomo.identity.aws.chdev.org/";
    _paq.push([
      'setTrackerUrl',
      u + 'matomo.php'
    ]);
    _paq.push(['setSiteId', '1']);
    var d = document,
      g = d.createElement('script'),
      s = d.getElementsByTagName('script')[0];
    g.async = true;
    g.src = u + 'matomo.js';
    s.parentNode.insertBefore(g, s);
  })();

  // Function to add event categories base on page title
  function trackEventBasedOnPageTitle(elementId, eventCategory, eventAction, eventName) {
    document
      .getElementById(elementId)
      .addEventListener("click", () => {
      _paq.push(["trackEvent", eventCategory, eventAction, eventName]);
    });
  }

</script>
<!-- End Matomo Code --></footer><script src="{{ cdnHost }}/javascripts/govuk-frontend/v4.6.0/govuk-frontend-4.6.0.min.js"></script><script src="{{ cdnHost }}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js"></script><script src="{{ cdnHost }}/javascripts/app/cookie-consent/piwik-only-cookie-consent.js"></script><script src="{{ cdnHost }}/javascripts/vendor/jquery-3.3.1.min.js"></script><script>
window.GOVUKFrontend.initAll()</script>