{% from "govuk/components/cookie-banner/macro.njk"  import govukCookieBanner %}

{% set html %}
<p>{{i18n.cookiesBanner1}}</p>
<p>{{i18n.cookiesBanner2}}</p>
{% endset %}

{% set acceptHtml %}
 <p>{{ i18n.acceptedAnalyticsCookies }} {{ i18n.changeCookie1 }} <a class="govuk-link" target="_blank" rel="noopener noreferrer"
 href="{{ CHS_URL }}/help/cookies">{{ i18n.changeCookie2 }} {{ i18n.openInNewTab }}</a> {{ i18n.changeCookie3 }}</p>
{% endset %}

{% set rejectHtml %}
 <p>{{ i18n.rejectedAnalyticsCookies }} {{ i18n.changeCookie1 }} <a class="govuk-link" target="_blank" rel="noopener noreferrer" 
 href="{{ CHS_URL }}/help/cookies">{{ i18n.changeCookie2 }} {{ i18n.openInNewTab }}</a> {{ i18n.changeCookie3 }}</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: i18n.cookiesHeader,
  attributes: {
    id: "cookie-banner"
  },
  hidden: true,
  messages: [
    {
      headingText: i18n.cookiesHeader,
      attributes: {
      id: "accept-or-reject-message"
    },
      hidden: true,
      html: html,
      actions: [
      {
        text: i18n.acceptAnalyticCookies,
        type: "button",
        name: "cookies",
        value: "accept",
        attributes: {
        id: "accept-cookies-button"
      }
      },
      {
        text: i18n.rejectAnalyticCookies,
        type: "button",
        name: "cookies",
        value: "reject",
        attributes: {
        id: "reject-cookies-button"
      }
      },
      {
        text: i18n.viewCookies + " " + i18n.openInNewTab,
        href: chsUrl + "/help/cookies",
        attributes: {
          target: "_blank",
          rel: "noopener noreferrer"
        }
      }
    ]
    },
    {
      html: acceptHtml,
      role: "alert",
      attributes: {
      id: "accepted-cookies-message"
    },
      hidden: true,
      actions: [
      {
        text: i18n.cookieHide,
        type: "button",
        name: "hide",
        value: "hide",
        attributes: {
        id: "hide-accepted-message-button"
      }
      }
    ]
    },
    {
      html: rejectHtml,
      role: "alert",
      attributes: {
      id: "rejected-cookies-message"
    },
      hidden: true,
      actions: [
      {
        text: i18n.cookieHide,
        type: "button",
        name: "hide",
        value: "hide",
        attributes: {
        id: "hide-rejected-message-button"
      }
      }
    ]
    }
  ]
}) }}

<noscript>
    {{ govukCookieBanner({
    ariaLabel: i18n.cookiesHeader,
    messages: [
      {
        headingText: i18n.cookiesHeader,
        text: i18n.cookieNoJS
      }
    ]
  }) }}
</noscript>