<script type="text/javascript" src="{{cdnHost}}/javascripts/app/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  const countryList = "{{countryList}}"
  const error = "{{errors.countryInput.text}}"
  const countryDefaultValue = "{{payload.countryInput}}"

  var autocompleteConfig = {
    element: document.querySelector('#my-autocomplete-container'),
    id: 'countryInput', // To match it to the existing <label>.
    source: countryList.split(";"),
    name: 'countryInput',
    defaultValue: countryDefaultValue
    }
    
    accessibleAutocomplete(autocompleteConfig)
    const autocompleteContainer = document.getElementById("my-autocomplete-container");
    
  // Mimic nunjucks error generation
  window.onload = function () {
      if (error) {
        document.getElementById("typeahead-form-group").className = "govuk-form-group govuk-form-group--error";
        const errorHtml = '<p class="govuk-error-message"> <span class="govuk-visually-hidden">Error:</span> ' + error + '</p>'
        const element = document.getElementById("typeahead-hint");
        element.insertAdjacentHTML("afterend", errorHtml);
        document.getElementById("countryInput").classList.add("govuk-input--error");
      }
}
</script>

<!-- Javascript disabled -->
<noscript>
    {% include "./country-typeahead-noscript-input.njk" %}
</noscript>