{% extends "layouts/default.njk" %}
{% block backLink %}
  {# Remove back button on this page by replacing it with nothing #}
{% endblock %}
{% block signoutBar %}
  {% include "partials/signout-bar.njk" %}
  <hr class="govuk-section-break">
{% endblock %}
{% block main_content %}

    <h1 class="govuk-heading-l">{{ i18n.technicalDifficuliesTitle}}</h1>
    <p>{{ i18n.technicalDifficuliesText1 }}</p>
    <p>{{ i18n.technicalDifficuliesText2 }}</p>

{% endblock %}
