{% extends "layouts/default.njk" %}

{% block backLink %}
  {# Remove back button on this page by replacing it empty div to keep the nav bar underline correct #}
  <div class="back-link-removed-div"></div>
  <hr class="govuk-section-break">
{% endblock %}

{% block main_content %}	

  <h1 class="govuk-heading-l">{{ i18n.pageNotFoundTitle}}</h1>
  <p>{{ i18n.pageNotFoundText1 }}</p>
  <p>{{ i18n.pageNotFoundText2 }}</p>
  <p>
      {{ i18n.pageNotFoundText3 }}
      <a href="/register-as-companies-house-authorised-agent">{{ i18n.pageNotFoundLink }}</a>.
  </p>
{% endblock %}	
