<script type="text/javascript" src="{{ cdnHost }}/javascripts/app/accessible-autocomplete.min.js"></script>
<script type="text/javascript" nonce={{ nonce | dump | safe }}>
  const nationalityList = "{{ nationalityList }}"
  const nationalityValue = ["{{payload.nationality_input_0}}", "{{payload.nationality_input_1}}", "{{payload.nationality_input_2}}"]
  const errors = ["{{ errors.nationality_input_0.text }}","{{ errors.nationality_input_1.text }}","{{ errors.nationality_input_2.text }}"];
  for (let i = 0; i < 3; i++) {
    const autocompleteConfig = {
      element: document.querySelector(`#nationality-${i}`),
      id: `nationality_input_${i}`, // To match it to the existing <label>.
      source: nationalityList.split(";"),
      name: `nationality_input_${i}`,
      defaultValue: nationalityValue[i]
    };
    accessibleAutocomplete(autocompleteConfig);
    const nationality = document.getElementById(`nationality-${i}`);
  }

  // Mimic nunjucks error generation
  window.onload = function () {
    for (var i = 0; i < 3; i++) {
      if (errors && errors[i] !== "") {
        document.getElementById("typeahead-form-group-" + i).className = "govuk-form-group govuk-form-group--error";
        const errorHtml = '<p class="govuk-error-message"> <span class="govuk-visually-hidden">Error:</span> ' + errors[i] + '</p>'
        const element = document.getElementById("typeahead-hint-" + i);
        element.insertAdjacentHTML("afterend", errorHtml);
        document.getElementById("nationality_input_" + i).classList.add("govuk-input--error");
      }
  }
}
</script>
<!-- Javascript disabled -->
<noscript>
  {% include "./nationality-typeahead-noscript-input.njk" %}
</noscript>