<script src="{{ cdnHost }}/javascripts/vendor/jquery-3.3.1.min.js"></script>
<script src="{{ cdnHost }}/javascripts/app/piwik-enable.js"></script>


<!-- Matomo -->
<script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "//matomo.identity.aws.chdev.org/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d = document,
        g = d.createElement('script'),
        s = d.getElementsByTagName('script')[0];
      g.async = true;
      g.src = u + 'matomo.js';
      s.parentNode.insertBefore(g, s);
    })();

    $(function() {
      eventCategory = $(document).find("title").text().split(' -')[0];
      $("form").on("submit",function() {
        if ($("input[type='radio']:checked").length > 0) {
          if (!$.isFunction(window.analyticsWithCustomisedMatomoText)){
            eventName = $(this).find("input[type='radio']:checked").siblings("label").text();
          }
          _paq.push(["trackEvent", eventCategory, eventName]);
        }
      });
    });

  </script>
  <noscript>
    <p>
        <img src="{{PIWIK_URL}}/piwik.php?idsite={{PIWIK_SITE_ID}}" style="border:0;" alt="" />
    </p>
</noscript>
<script>
// Function to add event categories base on page title
function trackEventBasedOnPageTitle(elementId, eventCategory, eventAction, eventName) {
    document.getElementById(elementId)
    .addEventListener("click", () => {
        _paq.push(["trackEvent", eventCategory, eventAction, eventName]);
    });
}

// Matomo function for use on Work Sector page as it is now optional
function trackEventWorkSector(elementId, eventCategory, eventAction, eventName) {
  document.getElementById(elementId);
        _paq.push(["trackEvent", eventCategory, eventAction, eventName]);
}

// Matomo function to capture radio button selection
function trackEventBasedOnRadioId(elementId, eventCategory, eventAction) {
    const radioButton = document.getElementById(elementId);
    if (radioButton) {
      const labelText = document.querySelector(`label[for="${radioButton.id}"]`).textContent.trim();
      _paq.push(["trackEvent", eventCategory, eventAction, labelText]);
    }
}
</script>
<!-- Matomo Ends -->