<script src="{{ cdnHost }}/javascripts/app/piwik-enable.js"></script>

<!-- Matomo -->
<script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "//matomo.identity.aws.chdev.org/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d = document,
        g = d.createElement('script'),
        s = d.getElementsByTagName('script')[0];
      g.async = true;
      g.src = u + 'matomo.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <noscript>
    <p>
        <img src="{{PIWIK_URL}}/piwik.php?idsite={{PIWIK_SITE_ID}}" style="border:0;" alt="" />
    </p>
</noscript>
<script>
// Function to add event categories base on page title
function trackEventBasedOnPageTitle(elementId, eventCategory, eventAction, eventName) {
    document.getElementById(elementId)
    .addEventListener("click", () => {
        _paq.push(["trackEvent", eventCategory, eventAction, eventName]);
    });
}
</script>
<!-- Matomo Ends -->