<!-- user_name.njk -->

<span class="govuk-caption-l" nonce={{ nonce | dump | safe }} style="max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: normal;">
    {{ firstName }} {{ lastName }}
</span>
