{% set ADD_ROWS = [] %}
  {% for body in addedAMLBodies %}
    {% set row = {
      key: {
        text:  AMLSupervioryBodiesFormatted[body.membershipName]
      },
      value: {
        html:  body.membershipNumber + "<p class='govuk-body govuk-!-static-margin-top-5'> " +  i18n.yourUpdatesStarted + " " + body.changedDate + "</p>"
      },
      actions: {
        items: [
          {
            href: addAMLUrl + "&amlindex=" + body.membershipNumber + "&amlbody=" + body.membershipName,
            text: i18n.Edit,
            visuallyHiddenText: AMLSupervioryBodiesFormatted[body.membershipName]
          },
          {
            href: removeAMLUrl + "&amlindex=" + body.membershipNumber + "&amlbody=" + body.membershipName + "&return=" + redirectQuery,
            text: i18n.Cancel,
            visuallyHiddenText: AMLSupervioryBodiesFormatted[body.membershipName]
          }
        ]
      }
    } %}
    {% set ADD_ROWS = ADD_ROWS.concat([row]) %}
  {% endfor %}

  <h2 class="govuk-heading-m">{{ i18n.yourUpdatesAddAML }}</h2>
  {{ govukSummaryList({
    rows: ADD_ROWS
  }) }}