{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% extends "layouts/default.njk" %}
{% block main_content %}
{% set optionalFields = "" %}
    {% if businessAddress.propertyDetails %}
        {% set optionalFields = businessAddress.propertyDetails + ", " %}
    {% endif %}
    {% if businessAddress.line1 %}
        {% set optionalFields = optionalFields + businessAddress.line1 + ", " %}
    {% endif %}
    {% if businessAddress.line2 %}
        {% set optionalFields = optionalFields + businessAddress.line2 + ", " %}
    {% endif %}
    {% if businessAddress.town %}
        {% set optionalFields = optionalFields + businessAddress.town + ", " %}
    {% endif %}
    {% if businessAddress.county %}
        {% set optionalFields = optionalFields + businessAddress.county + ", " %}
    {% endif %}
        {% if businessAddress.country %}
        {% set optionalFields = optionalFields + businessAddress.country + ", " %}
    {% endif %}

    <form action="" method="POST">
        {% if businessName %}
            {% include "partials/business_name.njk" %}
        {% endif %}
        <div class="govuk-form-group">
            {{ govukRadios({
                errorMessage: errors.addressSelectorRadio if errors,
                classes: "govuk-radios",
                id: "address-selector-radios",
                name: "addressSelectorRadio",
                fieldset: {
                    legend: {
                        text: i18n.addressSelectorTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l govuk-!-width-two-thirds"
                    }
                },
                value: addressOption,
                items: [
                    {
                        value: "CORRESPONDANCE_ADDRESS",
                        text: optionalFields + businessAddress.postcode,
                        attributes: {
                            "data-event-id": "correspondance-address"
                        }
                    },
                    {
                        value: "DIFFERENT_ADDRESS",
                        text: i18n.addressSelectorDifferentAddress,
                        attributes: {
                            "data-event-id": "different-address"
                        }
                    }
                ]
                }) }}
        </div>
        <button class="govuk-button">{{ i18n.SaveAndContinue}}</button>
    </form>
{% endblock main_content %}