{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% set ITEMS = [] %}
{% for key,value in AMLSupervisoryBodies %}
  {% if value is string %}
    {% set checkboxItem = {
      value: key,
      text: value,
      id: "aml" + loop.index
    } %}
    {% set ITEMS = ITEMS.concat(checkboxItem) %}
  {% endif %}
{% endfor %}
{% set title = i18n.selectAmlSupervisorTitle %}
{% block main_content %}
  <form action="{{ currentUrl }}" method="POST">
    {% include "partials/csrf_token.njk" %}
    {% if acspType == "SOLE_TRADER" %}
      {% include "partials/user_name.njk" %}
    {% else %}
      {% include "partials/business_name.njk" %}
    {% endif %}
    {{ govukCheckboxes({
      name: "AML-supervisory-bodies",
      fieldset: {
        legend: {
          text: i18n.selectAmlSupervisorTitle,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: i18n.selectAmlSupervisorHint
      },
      values: selectedAMLSupervisoryBodies,
      items: ITEMS
    }) }}
    {{ govukButton({
      text: i18n.SaveAndContinue,
      id: "save-continue-button"
    }) }}
  </form>
  {% endblock main_content %}