{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% set ITEMS = [] %}
{% if lang == "cy" %}
  {% set supervisoryBodies = AMLSupervisoryBodiesWelsh %}
{% else %}
  {% set supervisoryBodies = AMLSupervisoryBodies %}
{% endif %}
{% for key, value in supervisoryBodies %}
  {% set checkboxItem = {
    value: key,
    text: value,
    id: "aml" + loop.index
  } %}
  {% set ITEMS = ITEMS.concat(checkboxItem) %}
{% endfor %}
{% set title = i18n.selectAmlSupervisorTitle %}
{% block main_content %}
  <form action="" method="POST">
    {% include "partials/csrf_token.njk" %}
    {% if acspType == "SOLE_TRADER" %}
      {% include "partials/user_name.njk" %}
    {% else %}
      {% include "partials/business_name.njk" %}
    {% endif %}
    {{ govukCheckboxes({
      name: "AML-supervisory-bodies",
      fieldset: {
        legend: {
          text: i18n.selectAmlSupervisorTitle,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: i18n.selectAmlSupervisorHint
      },
      values: selectedAMLSupervisoryBodies,
      items: ITEMS
    }) }}
    {{ govukButton({
      text: i18n.SaveAndContinue,
      id: "save-continue-button"
    }) }}
  </form>
{% endblock main_content %}