{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}
{% set title = i18n.title %}
{% block main_content %}
    <form action="" method="POST">
        <div class="govuk-form-group">
            {{ govukRadios({
                errorMessage: errors.WhatIsYourRole if errors,
                classes: "govuk-radios",
                id: "WhatIsYourRole",
                name: "WhatIsYourRole",
                fieldset: {
                    legend: {
                        text: i18n.title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                value: roleType,
                items: [
                    {
                      value: "SOLE_TRADER",
                      text: i18n.soleTrader,
                      id:"sole-trader-id"
                    } if acspType == "SOLE_TRADER",

                    {
                      value: "MEMBER_OF_PARTNERSHIP",
                      text: i18n.member + unincorporatedBusinessName,
                      id: "member-of-partnership-id"
                    } if acspType == "PARTNERSHIP",

                    {
                      value: "MEMBER_OF_GOVERNING_BODY",
                      text: i18n.memberOfGoverningBody + unincorporatedBusinessName,
                      id: "governing-body-id"
                    } if acspType == "UNINCORPORATED",

                    {
                      value: "EQUIVALENT_OF_DIRECTOR",
                      text: i18n.equivalentToDirector + unincorporatedBusinessName,
                      id: "director-equivalent-id"
                    } if acspType == "CORPORATE_BODY",

                    {
                      value: "MEMBER_OF_ENTITY",
                      text: i18n.member + unincorporatedBusinessName,
                      id: "member-of-entity-id"
                    } if acspType == "UNINCORPORATED" or acspType == "CORPORATE_BODY",

                    {
                      value: "DIRECTOR",
                      text: i18n.director + company.companyName + " (" + company.companyNumber + ")",
                      id:"I-am-director-id"
                    } if acspType == "LC",

                    {
                      value: "MEMBER_OF_LLP",
                      text: i18n.member + company.companyName + " (" + company.companyNumber + ")",
                      id: "member-of-llp-id"
                    } if acspType == "LLP",

                    {
                      value: "GENERAL_PARTNER",
                      text: i18n.generalPartner + unincorporatedBusinessName,
                      id: "general-partner-id"
                    } if acspType == "LP",

                    {
                      value: "SOMEONE_ELSE",
                      text: i18n.someoneElse,
                      id: "someoneelse-id"
                    }
                ]
            }) }}
        </div>
        {{ govukButton({
          text: i18n.SaveAndContinue,
          id:"save-continue-button"
        }) }}
    </form>
      <script>
        trackEventBasedOnPageTitle("I-am-director-id", "select-option", "I am a director of");
        trackEventBasedOnPageTitle("member-of-partnership-id", "select-option", "I am a member of");
        trackEventBasedOnPageTitle("governing-body-id", "select-option", "I am a member of the governing body of");
        trackEventBasedOnPageTitle("director-equivalent-id", "select-option", "I am the equivalent of a director of");
        trackEventBasedOnPageTitle("general-partner-id", "select-option", "I am a general partner of");
        trackEventBasedOnPageTitle("member-of-entity-id", "select-option", "I am a member of");
        trackEventBasedOnPageTitle("sole-trader-id", "select-option", "I am the sole trader");
        trackEventBasedOnPageTitle("someoneelse-id", "select-option", "I am someone else");
        trackEventBasedOnPageTitle("member-of-llp-id", "select-option", "I am a member of");
        trackEventBasedOnPageTitle("save-continue-button", "click-button", "SAVE AND CONTINUE - ROLE ");
      </script>
{% endblock %}
