{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}
{% set title = i18n.whatIsYourRoleTitle %}
{% block main_content %}
    <form action="" method="POST">
        <div class="govuk-form-group">
            {{ govukRadios({
                errorMessage: errors.WhatIsYourRole if errors,
                classes: "govuk-radios",
                id: "WhatIsYourRole",
                name: "WhatIsYourRole",
                fieldset: {
                    legend: {
                        text: i18n.whatIsYourRoleTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                value: roleType,
                items: [
                    {
                      value: "MEMBER_OF_PARTNERSHIP",
                      id: "member-of-partnership",
                      text: i18n.member + unincorporatedBusinessName
                    } if acspType == "PARTNERSHIP",

                    {
                      value: "SOLE_TRADER",
                      text: i18n.soleTrader,
                      id: "sole-trader"
                    } if acspType == "SOLE_TRADER",

                    {
                      value: "MEMBER_OF_GOVERNING_BODY",
                      text: i18n.memberOfGoverningBody + unincorporatedBusinessName,
                      id: "member-of-governing-body"
                    } if acspType == "UNINCORPORATED",

                    {
                      value: "EQUIVALENT_OF_DIRECTOR",
                      text: i18n.equivalentToDirector + unincorporatedBusinessName,
                      id: "director-equivalent"
                    } if acspType == "CORPORATE_BODY",

                    {
                      value: "MEMBER_OF_ENTITY",
                      text: i18n.member + unincorporatedBusinessName,
                      id: "member-of-entity"
                    } if acspType == "UNINCORPORATED" or acspType == "CORPORATE_BODY",

                    {
                      value: "DIRECTOR",
                      text: i18n.director + company.companyName + " (" + company.companyNumber + ")",
                      id: "I-am-director"
                    } if acspType == "LC",

                    {
                      value: "MEMBER_OF_LLP",
                      text: i18n.member + company.companyName + " (" + company.companyNumber + ")",
                      id: "member-of-llp"
                    } if acspType == "LLP",

                    {
                      value: "GENERAL_PARTNER",
                      text: i18n.generalPartner + unincorporatedBusinessName,
                      id: "general-partner"
                    } if acspType == "LP",

                    {
                      value: "SOMEONE_ELSE",
                      text: i18n.someoneElse,
                      id: "someone-else"
                    }
                ]
            }) }}
        </div>
        {{ govukButton({
          text: i18n.SaveAndContinue,
          id:"save-continue-button"
        }) }}
    </form>

{# If/Else Logic to call specific Matomo event script based on the value of acspType (specific script runs depending on what busniess type the user had selected previously) #}
{% if acspType == "PARTNERSHIP" %}
  <script> trackEventBasedOnPageTitle("member-of-partnership", "select-option", "I am a member of partnership"); </script>
{% elif acspType == "SOLE_TRADER" %}
  <script> trackEventBasedOnPageTitle("sole-trader", "select-option", "I am the sole trader"); </script>
{% elif acspType == "UNINCORPORATED" %}
  <script> trackEventBasedOnPageTitle("member-of-governing-body", "select-option", "I am a member of the governing body of"); </script>
{% elif acspType == "CORPORATE_BODY" %}
  <script> trackEventBasedOnPageTitle("director-equivalent", "select-option", "I am the equivalent of a director of"); </script>
{% elif acspType == "UNINCORPORATED" or acspType == "CORPORATE_BODY" %}
  <script> trackEventBasedOnPageTitle("member-of-entity", "select-option", "I am a member of entity"); </script>
{% elif acspType == "LC" %}
  <script> trackEventBasedOnPageTitle("I-am-director", "select-option", "I am a director of"); </script>
{% elif acspType == "LLP" %}
  <script> trackEventBasedOnPageTitle("member-of-llp", "select-option", "I am a member of llp"); </script>
{% elif acspType == "LP" %}
  <script> trackEventBasedOnPageTitle("general-partner", "select-option", "I am a general partner of"); </script>
{% endif %}

<script>
    trackEventBasedOnPageTitle("someone-else", "select-option", "I am someone else");
    trackEventBasedOnPageTitle("save-continue-button", "click-button", "SAVE AND CONTINUE - ROLE ");
</script>

{% endblock main_content %}
