{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}
{% set title = i18n.whatIsYourRoleTitle %}
{% block main_content %}
    <form action="" method="POST">
        <div class="govuk-form-group">
            {{ govukRadios({
                errorMessage: errors.WhatIsYourRole if errors,
                classes: "govuk-radios",
                id: "WhatIsYourRole",
                name: "WhatIsYourRole",
                fieldset: {
                    legend: {
                        text: i18n.whatIsYourRoleTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                value: roleType,
                items: [
                    {
                      value: "MEMBER_OF_PARTNERSHIP",
                      id: "member-of-partnership",
                      text: i18n.member + unincorporatedBusinessName
                    } if acspType == "PARTNERSHIP",

                    {
                      value: "SOLE_TRADER",
                      text: i18n.soleTrader,
                      id: "sole-trader"
                    } if acspType == "SOLE_TRADER",

                    {
                      value: "MEMBER_OF_GOVERNING_BODY",
                      text: i18n.memberOfGoverningBody + unincorporatedBusinessName,
                      id: "member-of-governing-body"
                    } if acspType == "UNINCORPORATED",

                    {
                      value: "EQUIVALENT_OF_DIRECTOR",
                      text: i18n.equivalentToDirector + unincorporatedBusinessName,
                      id: "director-equivalent"
                    } if acspType == "CORPORATE_BODY",

                    {
                      value: "MEMBER_OF_ENTITY",
                      text: i18n.member + unincorporatedBusinessName,
                      id: "member-of-entity"
                    } if acspType == "UNINCORPORATED" or acspType == "CORPORATE_BODY",

                    {
                      value: "DIRECTOR",
                      text: i18n.director + company.companyName + " (" + company.companyNumber + ")",
                      id: "I-am-director"
                    } if acspType == "LC",

                    {
                      value: "MEMBER_OF_LLP",
                      text: i18n.member + company.companyName + " (" + company.companyNumber + ")",
                      id: "member-of-llp"
                    } if acspType == "LLP",

                    {
                      value: "GENERAL_PARTNER",
                      text: i18n.generalPartner + unincorporatedBusinessName,
                      id: "general-partner"
                    } if acspType == "LP",

                    {
                      value: "SOMEONE_ELSE",
                      text: i18n.someoneElse,
                      id: "someone-else"
                    }
                ]
            }) }}
        </div>
        {{ govukButton({
          text: i18n.SaveAndContinue,
          id:"save-continue-button",
      attributes: {
        "onClick": "analyticsWithCustomisedMatomoText();"
      }
        }) }}
    </form>

    {# If/Else Logic to call specific Matomo event script based on the value of acspType (specific script runs depending on what busniess type the user had selected previously) #}
    <script> var matomoText; </script>
    {% if acspType == "PARTNERSHIP" %}
      <script> matomoText = "I am a member of partnership"; </script>
    {% elif acspType == "SOLE_TRADER" %}
      <script> matomoText = "I am the sole trader"; </script>
    {% elif acspType == "UNINCORPORATED" or acspType == "CORPORATE_BODY" %}
      <script> matomoText = "I am a member of entity"; </script>
    {% elif acspType == "CORPORATE_BODY" %}
      <script> matomoText = "I am the equivalent of a director of"; </script>
    {% elif acspType == "LC" %}
      <script> matomoText = "I am a director of"; </script>
    {% elif acspType == "LLP" %}
      <script> matomoText = "I am a member of llp"; </script>
    {% elif acspType == "LP" %}
      <script> matomoText = "I am a general partner of"; </script>
    {% else %}
      <script> matomoText = "I am someone else"; </script>
    {% endif %}

    <script>
      function analyticsWithCustomisedMatomoText(){
        if(matomoText){
          eventName = matomoText;
        }else{
          matomoText = "I am someone else";
        }
      }
      trackEventBasedOnPageTitle("save-continue-button", "{{title}}", "click-button", "SAVE AND CONTINUE - ROLE");
    </script>

{% endblock main_content %}
