{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% set amlList = [] %}
{% for body in acspFullProfile.amlDetails %}
    {% set chkFlagForAMLUpdate = true %}
    {% set updateAMLDetailsStatusText = "" %}
    {% set amlActionText = i18n.updateYourDetailsRemove %}
    {% if chkFlagForAMLUpdate === true %}
        {% for bodyUpdated in acspUpdatedFullProfile.amlDetails %}
            {% if body.supervisoryBody === bodyUpdated.supervisoryBody %}
                {% set chkFlagForAMLUpdate = false %}
            {%endif%}
        {% endfor %}
    {%endif%}
        {% if chkFlagForAMLUpdate %}
            {% set amlActionText = i18n.updateYourDetailsCancel %}
            {% set updateAMLDetailsStatusText =
                            "<div class='govuk-!-static-padding-top-3'>
                            <p class='govuk-tag govuk-tag--red govuk-!-static-margin-bottom-1'>"+i18n.updateAMLDetailsRemoved+"</p>
                            <p class='govuk-body-s'>"+i18n.updateAMLDetailsStatusLineOne+"<br>"+i18n.updateAMLDetailsStatusLineTwo+"</p>
                            </div>"
            %}
        {%endif%}
    {% set amlSummaryObject = {
        key: {
            text:  i18n.checkYourAnswersAMLTab + tmp,
            classes: "govuk-!-width-one-third"
        },
        value: {
            html:  "<ul class='govuk-list govuk-list--bullet'><li>" + AMLSupervioryBodiesFormatted[body.supervisoryBody] + bodyUpdated|length +"</li><li>" + body.membershipDetails + "</li></ul>"
            +updateAMLDetailsStatusText,
            classes: "govuk-!-width-one-third"
        },
        actions: {
            items: [
            {
                href: removeAMLUrl + "&amlindex=" + body.membershipDetails,
                text: amlActionText,
                visuallyHiddenText: AMLSupervioryBodiesFormatted[body.supervisoryBody]
            }],
            classes: "govuk-!-width-one-third"
        }
    } %}
    {% set amlList = amlList.concat(amlSummaryObject) %}
{% endfor %}
{% for body in addedAmlBodies %}
    {% set amlSummaryObject = {
        key: {
            text:  i18n.checkYourAnswersAMLTab
        },
        value: {
            html:  "<ul class='govuk-list govuk-list--bullet'><li>" + AMLSupervisoryBodies[body.amlSupervisoryBody] + "</li><li>" + body.membershipId + "</li></ul>" +
            "<div class='govuk-!-static-padding-top-3'>
                <strong class='govuk-tag govuk-tag--blue govuk-!-static-margin-bottom-1'>"+i18n.updatedWarningCaption+"</strong>
                <p class='govuk-body-s'>"+i18n.updatedWarningNoteLineOne+"<br>"+i18n.updatedWarningNoteLineTwo+"</p>
            </div>"
        },
        actions: {
            items: [
                {
                    href: addAML + "&update=" + loop.index0,
                    text: i18n.updateYourDetailsUpdate,
                    visuallyHiddenText: AMLSupervisoryBodies[body.amlSupervisoryBody]
                },
                {
                    href: "#",
                    text: i18n.updateYourDetailsRemove,
                    visuallyHiddenText: AMLSupervisoryBodies[body.amlSupervisoryBody]
                }
            ],
            classes: "govuk-!-width-one-third"
        }
    } %}
    {% set amlList = amlList.concat(amlSummaryObject) %}
{% endfor %}

{% set title = i18n.updateYourDetailsHeading %}
{% block main_content %}
    <form action="" method="post">
        {% include "partials/csrf_token.njk" %}
        <h1 class="govuk-heading-xl">{{ i18n.updateYourDetailsHeading }}</h1>
        <div class="govuk-inset-text">
            <p class="govuk-body">
                {{ i18n.updateYourDetailsNote }}
            </p>
        </div>
        {% if acspFullProfile.type === "sole-trader" %}
            {% include "partials/update-your-details/sole-trader-answers.njk" %}
        {% elif acspFullProfile.type === "limited-company" or acspFullProfile.type === "limited-liability-partnership"  or acspFullProfile.type === "corporate-body"%}
            {% include "partials/update-your-details/limited-answers.njk" %}
        {% elif acspFullProfile.type === "limited-partnership" or acspFullProfile.type === "unincorporated-entity" or acspFullProfile.type === "non-registered-partnership" %}
            {% include "partials/update-your-details/unincorporated-answers.njk" %}
        {% endif %}
        <h2 class="govuk-heading-m">{{ i18n.checkYourAnswersAMLHeading }}</h2>
        <div class="govuk-button-group"> 
            {{ govukButton({
                text: i18n.addNewAMLDetails,
                classes: "govuk-button--secondary",
                id:"add-new-aml-details",
                href: addAML
                }) }}
            {{ govukButton({
                text: i18n.goBackToAuthorisedAgentServices,
                classes: "govuk-button--secondary",
                id:"go-back-to-authorised-agent-services"
                }) }}
        </div>
        {{ govukSummaryList({
            rows: amlList
        })}}
        {% if updateFlag === true %}
            <div class="govuk-button-group"> 
                {{ govukButton({
                    text: i18n.updateYourDetailsContinue,
                    id:"update-acsp-details"
                    }) }}
                <a class="govuk-link" href="#" id="cancel-id">{{i18n.Cancel}}</a>
            </div>
        {% endif %}
    </form>
{% endblock main_content %}