{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}
{% set title = i18n.nameRegisteredWithAmlTitle %}
{% block main_content %}
  <form action="" method="POST">
    {% include "partials/csrf_token.njk" %}
    {{ govukRadios({
      errorMessage: errors.nameRegisteredWithAml if errors,
      classes: "govuk-radios",
      id: "name-registered-with-aml-radios",
      name: "nameRegisteredWithAml",
      fieldset: {
        legend: {   
          text: i18n.nameRegisteredWithAmlTitle,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: i18n.nameRegisteredWithAmlBody
      },
      value: nameRegisteredWithAml,
      items: [
        {
          value: "NAME_OF_THE_BUSINESS",
          text: i18n.nameRegisteredWithAmlNameOfTheBusinessOption,
          id:"name-of-the-business-option-id"
        },
        {
          value: "YOUR_NAME",
          text: i18n.nameRegisteredWithAmlYourNameOption,
          id:"your-name-option-id"
        },
        {
          value: "BOTH",
          text: i18n.nameRegisteredWithAmlBothOption,
          id:"both-option-id"
        }
      ]
      }) }}
      {{ govukButton({
          text: i18n.SaveAndContinue,
          id:"save-continue-button"
      }) }}
  </form>

  <script nonce={{ nonce | dump | safe }}>
    trackEventBasedOnPageTitle("name-of-the-business-option-id", "{{title}}", "select-option", "name-of-the-business");
    trackEventBasedOnPageTitle("your-name-option-id", "{{title}}", "select-option", "your-name");
    trackEventBasedOnPageTitle("both-option-id", "{{title}}", "select-option", "both");
    trackEventBasedOnPageTitle("save-continue-button", "{{title}}", "click-button", "SAVE AND CONTINUE - Name registered with AML");
  </script>

{% endblock main_content %}