{% extends "layouts/default.njk" %}

{% block backLink %}
  {# Remove back button on this page by replacing it empty div to keep the nav bar underline correct #}
  <div class="back-link-removed-div"></div>
  {% endblock %}
{% set title = i18n.companyInactiveTitle %}
{% block main_content %}
  <h1 class="govuk-heading-l">{{ i18n.companyInactiveTitle }}</h1>
  <p class="govuk-body">
    {{ i18n.canNotRegister | replace('{companyName}', companyName) }}
  </p>
  <p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/guidance/company-restoration-guide#process-to-restore-a-company-name-to-the-register-of-companiesbrbr">{{ i18n.readTheCompany }}</a>
    {{ i18n.toFind }}
  </p>
  <p class="govuk-body">
    {{ i18n.ifThis }}
    <a class="govuk-link" href={{startPage}}>{{ i18n.startAgain }}</a>
  </p>
  <p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/contact-companies-house">{{ i18n.contactUs | safe }}</a>
    {{ i18n.ifYou }}
  </p>
{% endblock main_content %}
