{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set errors = pageProperties.errors %}
{% extends "layouts/default.njk" %}
{% set title = i18n.amlMembershipTitle %}
{% block main_content %}
    <form action="{{ currentUrl }}?lang={{ lang }}" method="post">
        {% include "partials/csrf_token.njk" %}
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                {% if acspType === "SOLE_TRADER" %}
                    {% include "partials/user_name.njk" %}
                {% else %}
                    {% include "partials/business_name.njk" %}
                {% endif %}
                <h1 class="govuk-fieldset__heading">
                    <span class="govuk-label govuk-label--l">{{ i18n.amlMembershipTitle }}</span>
                </h1>
            </legend>
            <p class="govuk-body">{{ i18n.amlMembershipdescription }}</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ i18n.amlMembershipLisit1 }}</li>
                <li>{{ i18n.amlMembershipLisit2 }}</li>
                <li>{{ i18n.amlMembershipLisit3 }}</li>
            </ul>
            <p class="govuk-body">{{ i18n.amlcontactinfo }}
            </p>
            {% for body in amlSupervisoryBodies %}
                {{ govukInput({
                    label: {
                        text:i18n[body.amlSupervisoryBody],
                        classes: "govuk-label--m"
                    },
                    id: "membershipNumber_" + loop.index,
                    name: "membershipNumber_" + loop.index,
                    value: payload["membershipNumber_" + loop.index],
                    errorMessage: {
                        text: errors["membershipNumber_" + loop.index].text
                    } if errors["membershipNumber_" + loop.index]
                }) }}
            {% endfor %}
            {% if reqType === "updateAcsp" %}
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: i18n.Continue,
                        id:"continue-button-id"
                    })}}
                    <a class="govuk-link" id="cancel-id" href={{cancelLink}}>{{i18n.Cancel}}</a>
                </div>
            {% else %}
                {{ govukButton({
                text: i18n.SaveAndContinue,
                id:"save-continue-button"
                }) }}
            {% endif %}
        </fieldset>
    </form>
    {% endblock %}
