{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "layouts/default.njk" %}
{% set title = i18n.savedTitle %}
{% block main_content %}
  <form action="" method="POST">
    {{ govukRadios({
      errorMessage: errors.savedApplication if errors,
      classes: "govuk-radios--inline",
      id: "savedApplication",
      name: "savedApplication",
      fieldset: {
        legend: {
          text: i18n.savedTitle,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes",
          text: i18n.savedYesButtonText,
          id: "yes-id",
          hint: {
            "text": i18n.savedYesHintText
          }
        },
        {
          value: "no",
          text: i18n.savedNoButtonText,
          id:"no-id"
        }
      ]
    }) }}
    <button class="govuk-button" id="save-continue-button" >{{ i18n.SaveAndContinue }}</button>
  </form>
  {% endblock main_content %}