{% from "govuk/components/input/macro.njk"           import govukInput %}
{% extends "layouts/default.njk" %}

{% block main_content %}

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <form action="" method="POST">
        <div class="govuk-form-group">
            
            {{ govukInput({
                label: {
                    text: i18n.whatIsTheBusinessNameTitle,
                    classes: "govuk-label govuk-label--l",
                    isPageHeading: true
                },
                 errorMessage: {
                    text: errors["whatIsTheBusinessName"].text
              } if errors["whatIsTheBusinessName"] | length,
                classes: "govuk-input",
                hint: {
                    text: i18n.whatIsTheBusinessNameHint
                },
                id: "whatIsTheBusinessName",
                name: "whatIsTheBusinessName",
                value: payload["whatIsTheBusinessName"]     
             }) }}

             <div class="govuk-inset-text">
                <p>{{i18n.whatIsTheBusinessNamePublic}}</p>   
            </div>
        </div>
            <button class="govuk-button">{{i18n.whatIsTheBusinessNameSaveAndContinue}}</button>
     </form>
   </div>
 </div>
</div>

    
{% endblock main_content %}