{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}

{% block main_content %}

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <form action="" method="POST">
      <div class="govuk-form-group">
        {% set textInputHtml %}
          {{ govukInput({
            label: {
              text: i18n.whatIsTheBusinessNameEnterTheBusiness
            },
            errorMessage: {
              text: errors.businessName.text
            } if errors.businessName | length,
            classes: "govuk-input",
            id: "business-name",
            name: "businessName",
            value: payload.businessName
          }) }}
        {% endset -%}

        {{ govukRadios({
          name: "businessNameRadio",
          errorMessage: errors.businessNameRadio if errors,
          fieldset: {
            legend: {
              text: i18n.whatIsTheBusinessNameTitle,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: usersName,
              text: usersName
            },
            {
              value: "tradingName",
              text: i18n.whatIsTheBusinessNameDifferentNameOption,
              conditional: {
                html: textInputHtml
              }
            }
          ]
        }) }}

        {{ govukInsetText({
          text: i18n.whatIsTheBusinessNamePublic
        }) }}
      </div>
      {{ govukButton({
        text: i18n.SaveAndContinue
      }) }}  
     </form>
   </div>
 </div>
</div>

    
{% endblock main_content %}