<h2 class="govuk-heading-m">{{ i18n.checkYourAnswersLimitedDetailsHeading }}</h2>
{{ govukSummaryList({
    rows: [
    {
        key: {
          text: i18n.companyName
        },
        value: {
          text: detailsAnswers.businessName
        }
      },
      {
        key: {
          text: i18n.companyNumber
        },
        value: {
          text: detailsAnswers.companyNumber
        }
      },
      {
        key: {
          text: i18n.typeOfBusiness
        },
        value: {
          text: detailsAnswers.typeOfBusiness
        }
      },
      {
        key: {
          text: i18n.yourRole
        },
        value: {
          text: detailsAnswers.roleType
        }
      },
      {
        key: {
          text: i18n.registeredOfficeAddress
        },
        value: {
          html: detailsAnswers.businessAddress
        }
      },
      {
        key: {
          text: i18n.correspondeceAddress
        },
        value: {
          html: detailsAnswers.correspondenceAddress
        },
        actions: {
            items: [
              {
                href: "/register-as-companies-house-authorised-agent/limited/what-is-the-correspondence-address" + "?lang=" + lang,
                text: i18n.checkYourAnswersChange,
                visuallyHiddenText: i18n.correspondeceAddress
              }
            ]
          }
      },
      {
        key: {
          text: i18n.businessSector
        },
        value: {
          html: detailsAnswers.workSector
        },
        actions: {
            items: [
              {
                href: "/register-as-companies-house-authorised-agent/limited/which-sector" + "?lang=" + lang,
                text: i18n.checkYourAnswersChange,
                visuallyHiddenText: i18n.businessSector
              }
            ]
          }
      },
      {
        key: {
          text: i18n.checkYourAnswersEmail
        },
        value: {
          html: detailsAnswers.correspondenceEmail
        },
        actions: {
            items: [
              {
                href: "/register-as-companies-house-authorised-agent/limited/what-email-should-we-use" + "?lang=" + lang,
                text: i18n.checkYourAnswersChange,
                visuallyHiddenText: i18n.checkYourAnswersEmail
              }
            ]
          }
      }
    ]
    })
}}