{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% extends "layouts/default.njk" %}
{% set title = i18n.whatIsYourNameTitle %}
{% block main_content %}
    <form action="" method="POST">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">{{ i18n.whatIsYourNameTitle }}</h1>
            {{ govukInput({
                label: {
                    text: i18n.whatIsYourNameFirstName
                },
                errorMessage: {
                    text: errors["first-name"].text
                } if errors["first-name"] | length,
                classes: "govuk-input--width-20",
                id: "first-name",
                name: "first-name",
                autocomplete: "given-name",
                value: payload["first-name"]
            }) }}
            {{ govukInput({
                label: {
                    text: i18n.whatIsYourNameMiddleNames
                },
                errorMessage: {
                    text: errors["middle-names"].text
                } if errors["middle-names"] | length,
                classes: "govuk-input--width-20",
                id: "middle-names",
                name: "middle-names",
                autocomplete: "additional-name",
                value: payload["middle-names"]
            }) }}
            {{ govukInput({
                label: {
                    text: i18n.whatIsYourNameLastName
                },
                errorMessage: {
                    text: errors["last-name"].text
                } if errors["last-name"] | length or errors["first-name"].text === "Enter your full name" or errors["first-name"].text === "Enter your full name welsh",
                classes: "govuk-input--width-20",
                id: "last-name",
                name: "last-name",
                autocomplete: "family-name",
                value: payload["last-name"]
            }) }}
        </div>
        {% if reqType === "updateAcsp" %}
          <div class="govuk-button-group">
             {{ govukButton({
                text: i18n.Continue,
                id:"continue-button-id"
             })}}
             <a class="govuk-link" href={{previousPage}} id="cancel-id">{{i18n.Cancel}}</a>
          </div>
           
        {% else %}
           {{ govukButton({
            text: i18n.SaveAndContinue,
            id:"save-continue-button"
           }) }}
        {% endif %}   
    </form>

    <script>
        trackEventBasedOnPageTitle("continue-button-id", "{{title}}", "click-button", "CONTINUE - UPDATENAME");
        trackEventBasedOnPageTitle("cancel-id", "{{title}}", "click-link", "CANCEL - UPDATENAME");
        trackEventBasedOnPageTitle("save-continue-button", "{{title}}", "click-button", "SAVE AND CONTINUE - NAME");
    </script>

{% endblock main_content %}