{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% extends "layouts/default.njk" %}
{% set errors = pageProperties.errors %}

{% block main_content %}

{% set ITEMS = [] %}
{% for addressOption in addresses %}
    {% set addressObject = {
    id: addressOption.premise,
    value: addressOption.premise,
    text: addressOption.formattedAddress,
    checked: addressOption.premise == currentPremises,
    attributes: {
        "data-event-id": "address-option-" + addressOption.premise
    }
    } %}
    {% set ITEMS = ITEMS.concat(addressObject) %}
{% endfor %}


    <form action="" method="POST">
        <span class="govuk-caption-l">{{firstName}} {{surname}}</span>
        <div class="govuk-form-group">
            {{ govukRadios({
                errorMessage: errors.correspondenceLookUpAddressList if errors,
                classes: "govuk-radios",
                id: "correspondence-address-in-radios",
                name: "correspondenceAddress",
                fieldset: {
                    legend: {
                        text: i18n.correspondenceLookUpAddressListTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                items: ITEMS
                }) }}
        </div>
        <button class="govuk-button">{{i18n.correspondenceLookUpAddresListConfirmBtn}}</button>
    </form>
      <p><a href="/register-acsp/sole-trader/correspondence-address-manual" class="govuk-link">{{i18n.correspondenceLookUpAddressManuallyBtn}}</a></p>


    
{% endblock main_content %}