{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% extends "layouts/default.njk" %}
{% block main_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="" method="POST">
                {% include "partials/user_name.njk" %}
                <div class="govuk-form-group">
                    {{ govukRadios({
                errorMessage: errors.typeOfBusinessRadio if errors,
                classes: "govuk-radios",
                id: "type-of-business-radios",
                name: "typeOfBusinessRadio",
                fieldset: {
                    legend: {
                        text: i18n.typeOfBusinessTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                value: typeOfBusiness,
                items: [
                    {
                        value: "LIMITED_COMPANY",
                        text: i18n.typeOfBusinessLimitedCompanyOption,
                        attributes: {
                            "data-event-id": "Limited company"
                        }
                    }if not FEATURE_FLAG_DISABLE_LIMITED_JOURNEY,
                    {
                        value: "LIMITED_PARTNERSHIP",
                        text: i18n.typeOfBusinessLimitedPartnershipOption,
                        attributes: {
                            "data-event-id": "Limited partnership"
                        }
                    },
                    {
                        value: "LIMITED_LIABILITY_PARTNERSHIP",
                        text: i18n.typeOfBusinessLimitedLiabilityPartnershipsOption,
                        attributes: {
                            "data-event-id": "Limited liability partnership"
                        }
                    },
                    {
                        value: "PARTNERSHIP",
                        text: i18n.typeOfBusinessPartnershipNotRegisteredWithCompaniesHouseOption,
                        attributes: {
                            "data-event-id": "Partnership"
                        }
                    }if not FEATURE_FLAG_DISABLE_PARTNERSHIP_JOURNEY,
                    {
                        value: "SOLE_TRADER",
                        text: i18n.typeOfBusinessSoleTraderOption,
                        attributes: {
                            "data-event-id": "Sole trader"
                        }
                    },
                    {
                        value: "OTHER",
                        text: i18n.typeOfBusinessOtherOption,
                        attributes: {
                            "data-event-id": "Other"
                        }
                    }
                ]
                }) }}
                </div>
                <button class="govuk-button" data-event-id="SAVE AND CONTINUE-type of business">{{ i18n.Continue }}</button>
            </form>
        </div>
    </div>
{% endblock main_content %}