{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}
{% set title = i18n.correspondenceAddressConfirmTitle %}
{% block main_content %}
  <form class="form" action="" method="post">
    {% if businessName %}
      {% include "partials/business_name.njk" %}
    {% elif firstName %}
      {% include "partials/user_name.njk" %}
    {% endif %}

    {% set addressField = correspondenceAddress.premises + " " + correspondenceAddress.addressLine1 + ", " %}
    <h1 class="govuk-heading-l">{{ i18n.correspondenceAddressConfirmTitle }}</h1>
    <ul class="govuk-list">
      <li>{{ addressField }}</li>
      <li>{{ correspondenceAddress.addressLine2 }}</li>
      <li>{{ correspondenceAddress.locality }}</li>
      <li>{{ correspondenceAddress.region }}</li>
      <li>{{ correspondenceAddress.country }}</li>
      <li>{{ correspondenceAddress.postalCode }}</li>
    </ul>
    <p class="govuk-body">
      <a href={{editPage}} class="govuk-link govuk-link--no-visited-state" id="edit-address-link">{{ i18n.EditAddress }}</a>
    </p>
    {{ govukButton({
      text: i18n.ConfirmAndContinue,
      id:"save-continue-button"
    }) }}
  </form>

  <script>
    trackEventBasedOnPageTitle("edit-address-link", "{{title}}", "click-link", "EDIT ADDRESS - edit correspondence address");
  </script>

{% endblock main_content %}