{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/default.njk" %}
{% set ITEMS = [] %}
{% for key,value in AMLSupervioryBodiesFormatted %}
  {% if value is string %}
    {% set radioItem = {
      value: key,
      text: i18n[SupervisoryBodyMapping[key]],
      id: "aml" + loop.index
    } %}
    {% set ITEMS = ITEMS.concat(radioItem) %}
  {% endif %}
{% endfor %}
{% set title = i18n.addAmlSupervisorTitle %}
{% block main_content %}
  <form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
    {% include "partials/csrf_token.njk" %}
    {{ govukRadios ({
      name: "AML-supervisory-bodies",
      fieldset: {
        legend: {
          text: i18n.addAmlSupervisorTitle,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: i18n.addAmlSupervisorHint
      },
      value: amlBody,
      items: ITEMS
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
         text: i18n.Continue,
         id:"continue-button-id"
      }) }}
      <a class="govuk-link" href={{previousPage}} id="cancel-id">{{i18n.Cancel}}</a>
    </div>
  </form>
  {% endblock main_content %}