{% extends "layouts/default.njk" %}
{% block backLink %}
  {# Remove back button on this page by replacing it with nothing #}
{% endblock %}
{% set title = "" %}
{% set matomoPageTitle = i18n.startPageTitle %}
{% block main_content %}
  <form action="" method="POST">
    {% include "partials/csrf_token.njk" %}
    <h1 class="govuk-heading-l">
      {{ i18n.startPageTitle }}
    </h1>
    <p class="govuk-body">
      {{ i18n.useThisService }}
    </p>
    <p class="govuk-body">
      {{ i18n.youllNeedToRegister }}
      <a href="#" id="verify-client-identity-id">{{ i18n.verifyClientsIdentityLink }}</a>.
    </p>
    <p class="govuk-body">
      {{ i18n.startFromDate }}
    </p>
    <h2 class="govuk-heading-m">{{ i18n.whoCanApplyHeading }}</h2>     
    <p> 
      {{ i18n.toRegisterYourBusiness }} 
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ i18n.directorBullet }}</li>
      <li>{{ i18n.generalPartnerBullet }}</li>
      <li>{{ i18n.partnerBullet }}</li>
      <li>{{ i18n.memberBullet }}</li>
      <li>{{ i18n.soleTraderBullet }}</li>
    </ul>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          {{ i18n.ifYouAreRegisteringUnincorporatedCorporate }}
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">{{ i18n.corporateBodyHeading }}</h3>
      <p>
        {{ i18n.corporateBodyEquivalentDirector }}
      </p>
      <h3 class="govuk-heading-s">{{ i18n.UnincorporatedEntityHeading }}</h3>
      <p>
        {{ i18n.UnincorporatedGoverningBody }}
      </p>
    </details>
    <p class="govuk-body">
      {{ i18n.YouWillBeAble }}
    </p>
    <div
    class="ch-info-panel"
    nonce={{ nonce | dump | safe }}
    style="max-width: 630px; width: 100%; background-color: #f3f2f1; color: #000000; margin: 16px 0; padding: 2em;">
    <h2 class="govuk-heading-m">{{ i18n.verifyYourIdentity }}</h2>
    <div class="govuk-panel__body">
      <p class="govuk-body">
        {{ i18n.identifyBeforeYouCanUse }}
      </p>
      <p class="govuk-body" style="display: flex; align-items: center;">
        <img src="{{ cdnHost }}/images/icon/govuk-ons-icon-arrow-circle-medium.png" alt="" height="40" width="40" nonce={{ nonce | dump | safe }} style="max-width:100%; margin-top: 5px; margin-right: 0px;">
          <strong>
            <a
              class="govuk-link govuk-link--no-visited-state"
              href="/v7/verify-identity-prototype"
              nonce={{ nonce | dump | safe }}
              style="margin-left:10px;"
              id="verify-id">
              {{ i18n.verifyIdentityLink }}
            </a>
          </strong>
        </p>
      </div>
    </div>
    <h2 class="govuk-heading-m">{{ i18n.whatInformationYoullNeedHeading }}</h2>
    <p class="govuk-body">
      {{ i18n.youllNeedTo }}
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ i18n.signInOrCreateBullet }}</li>
      <li>{{ i18n.giveDetailsBullet }}</li>
      <li>{{ i18n.amlBodiesBullet }}</li>
      <li>{{ i18n.amlMembershipNumberBullet }}</li>
      <li>{{ i18n.registrationFeeBullet }}</li>
    </ul>
    <div class="govuk-inset-text">
      {{ i18n.readThe }}<a href="https://www.gov.uk/guidance/register-as-an-authorised-agent" id="Read the guidance-id">{{ i18n.guidanceOnApplyingLink }}</a>{{ i18n.toCheckYouHave }}
    </div>
    <p class="govuk-body">{{ i18n.saveYourAnswers }}</p>
    <button
      class="govuk-button govuk-button--start"
      id="start-now"
      data-module="govuk-button"
      onClick="trackStartNowEvent()">
      {{ i18n.startNow }}
      <svg
        class="govuk-button__start-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="17.5"
        height="19"
        viewBox="0 0 33 40"
        aria-hidden="true"
        focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </button>
    <h2 class="govuk-heading-m">{{ i18n.afterYouAreRegisteredHeading }}</h2>
    <p class="govuk-body">{{ i18n.wellCreateAnAuthorisedAgentAccount }}</p>
    <p class="govuk-body">
      {{ i18n.readThe }}
      <a href="#" id="guidance-for-authorised-agents-id">{{ i18n.guidanceForAuthorisedAgentsLink }}</a>
      {{ i18n.toFindOutHowToUse }}
    </p>
  </form>
    
  <script nonce={{ nonce | dump | safe }}>
    function trackStartNowEvent() {
      trackEventBasedOnPageTitle("start-now", "{{matomoPageTitle}}", "click-button", "START NOW");
      _paq.push(['trackGoal', "{{ PIWIK_REGISTRATION_START_GOAL_ID }}"]);
    };
    
    trackEventBasedOnPageTitle("verify-client-identity-id", "{{matomoPageTitle}}", "click-link", "Verify your clients' identities for Companies House");
    trackEventBasedOnPageTitle("verify-id", "{{matomoPageTitle}}", "click-link", "Verify your identity for Companies House");
    trackEventBasedOnPageTitle("Read the guidance-id", "{{matomoPageTitle}}", "click-link", "Read the guidance on applying to register as an authorised agent");
    trackEventBasedOnPageTitle("guidance-for-authorised-agents-id", "{{matomoPageTitle}}", "click-link", "Read the guidance for authorised agents");
  </script>

{% endblock %}