{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% extends "layouts/default.njk" %}

{% block backLink %}
  {# Remove back button on this page by replacing it with nothing #}
{% endblock %}

{% set html %}
<h3 class="govuk-notification-banner__heading">{{ i18n.thisIsANewServiceNotificationBanner }} </h3>
<p class="govuk-body">{{i18n.ifYouHaveAnyIssuesNotificationBanner}} <a class="govuk-notification-banner__link" href={{ feedbackLink }} >{{i18n.feedbackLinkNotificationBanner}}</a>.</p>
{% endset %}

{% set title = "" %}
{% set matomoPageTitle = i18n.startPageTitle %}
{% block main_content %}
  <form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
    {% include "partials/csrf_token.njk" %}
    {{ govukNotificationBanner({
      html: html,
      titleText: i18n.important
    }) }}
    <h1 class="govuk-heading-l">
      {{ i18n.startPageTitle }}
    </h1>
    <p class="govuk-body">
      {{ i18n.useThisService }}
    </p>
    <p class="govuk-body">
      {{ i18n.forNowYouOnlyNeedToRegister }}
    </p>
    <h2 class="govuk-heading-m">{{ i18n.whoCanApplyHeading }}</h2>     
    <p> 
      {{ i18n.toRegisterYourBusiness }} 
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ i18n.directorBullet }}</li>
      <li>{{ i18n.generalPartnerBullet }}</li>
      <li>{{ i18n.partnerBullet }}</li>
      <li>{{ i18n.memberBullet }}</li>
      <li>{{ i18n.soleTraderBullet }}</li>
    </ul>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          {{ i18n.ifYouAreRegisteringUnincorporatedCorporate }}
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">{{ i18n.corporateBodyHeading }}</h3>
      <p>
        {{ i18n.corporateBodyEquivalentDirector }}
      </p>
      <h3 class="govuk-heading-s">{{ i18n.UnincorporatedEntityHeading }}</h3>
      <p>
        {{ i18n.UnincorporatedGoverningBody }}
      </p>
    </details>
    <p class="govuk-body">
      {{ i18n.YouWillBeAble }}
    </p>
    <h2 class="govuk-heading-m">{{ i18n.whatYoullNeedHeading }}</h2>
    <p class="govuk-body">
      {{ i18n.youllNeedTo }}
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ i18n.signInOrCreateBullet }}</li>
      <li>{{ i18n.giveDetailsBullet }}</li>
      <li>{{ i18n.amlBodiesBullet }}</li>
      <li>{{ i18n.amlMembershipNumberBullet }}</li>
      <li>{{ i18n.registrationFeeBullet | replace('XX', ACSP01_COST) }}</li>
    </ul>
    <p class="govuk-body">
      {{ i18n.readThe }}<a href="https://www.gov.uk/guidance/applying-to-register-as-a-companies-house-authorised-agent" id="Read the guidance-id">{{ i18n.guidanceOnApplyingLink }}</a>{{ i18n.toCheckYouHave }}
    </p>
    <p class="govuk-body">{{ i18n.saveYourAnswers }}</p>
    <div class="ch-info-panel ch-info-panel-custom">
     <h2 class="govuk-heading-m">{{ i18n.verifyYourIdentity }}</h2>
     <div class="govuk-panel__body">
       <p class="govuk-body">
         {{ i18n.identifyBeforeYouCanUse }}
       </p>
       <p class="govuk-body home-page-p-tag">
         <img src="{{ cdnHost }}/images/icon/govuk-ons-icon-arrow-circle-medium.png" alt="" height="40" width="40" class="home-page-img">
           <strong>
             <a
               class="govuk-link govuk-link--no-visited-state home-page-img-link"
               href="{{verifyIdentityLink}}"
               id="verify-id">
               {{ i18n.verifyIdentityLink }}
             </a>.
           </strong>
         </p>
       </div>
     </div>
    <button
      class="govuk-button govuk-button--start"
      id="start-now"
      data-module="govuk-button">
      {{ i18n.startNow }}
      <svg
        class="govuk-button__start-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="17.5"
        height="19"
        viewBox="0 0 33 40"
        aria-hidden="true"
        focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </button>
    <h2 class="govuk-heading-m">{{ i18n.helpToApplyOnlineHeading }}</h2>
    <p class="govuk-body">
      <a href="https://www.gov.uk/contact-companies-house" id="contact-us-start-page-id">{{ i18n.contactUsStartPageLink }}</a>
      {{ i18n.ifYouNeedHelpToUseThisService }}
    </p>
    <h2 class="govuk-heading-m">{{ i18n.adaptYourDeviceHeading }}</h2>
    <p class="govuk-body">
      <a href={{ abilityNetAccessibilityLink }} id="read-the-advice-from-abilitynet-id">{{ i18n.readAdviceFromAbilityNetLink }}</a>{{ i18n.forExampleLearnHowTo }}
    </p>
    <h2 class="govuk-heading-m">{{ i18n.afterYouRegisterHeading }}</h2>
    <p class="govuk-body">{{ i18n.wellCreateAnAuthorisedAgentAccount }}</p>
    <p class="govuk-body">
      {{ i18n.readThe }}
      <a href="https://www.gov.uk/guidance/being-an-authorised-corporate-service-provider" id="guidance-for-authorised-agents-id">{{ i18n.guidanceForAuthorisedAgentsLink }}</a>
      {{ i18n.toFindOutHowToUse }}
    </p>
  </form>
    
  <script nonce={{ nonce | dump | safe }}>

    function startNowEventListener () {
      document.getElementById("start-now").addEventListener("click", () => {
      _paq.push(['trackGoal', "{{ PIWIK_REGISTRATION_START_GOAL_ID }}"]);
    });
    }

    if (document.readyState === "loading") {
      document.addEventListener("DOMContentLoaded", function (e) {
        startNowEventListener()
      });
    } else {
      startNowEventListener()
    }
  </script>

{% endblock %}