{# Extends the Companies House Page Template: https://github.com/companieshouse/ch-node-utils/blob/2.0.0/docs/page-template.md #}
{% extends "ch-node-utils/templates/layouts/template.njk" %}
{% import "add-lang-to-url.njk" as lang2url %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set mainContentId = "main-page-content" %}

{% set mainClasses = 'govuk-!-padding-top-0' %}

{% set tabTitle = "" %}
{% if errors %}
    {% set tabTitle = i18n.error + ": " %}
{% endif %}

{% if title %}
    {% set tabTitle = tabTitle + title + " - " %}
{% endif %}

{% set tabTitle = tabTitle + i18n[tabTitleKey] %}

{% block pageTitle %}{{ tabTitle }}{% endblock %}

{% block head %}
  {{ super() }}
  {% include "partials/__meta_header.njk" %}
{% endblock %}

{% block header %}
  <div class="govuk-header">
    {% include "partials/__header.njk" %}
  </div>
{% endblock %}

{% block bodyStart %}
  {% include "partials/cookie_consent_banner.njk" %}
{% endblock %}

{% block content %}
    {% block skipLink %}
      {{ govukSkipLink({
        text: "Skip to main content",
        href: "#" + mainContentId
      }) }}
    {% endblock %}
    {% include "partials/phase_banner.njk" %}
    {% if journeyType != "register-acsp" %}
      {% include "partials/nav/navbar.njk" %}
    {% endif %}
    {% block backLink %}
      {% include "partials/nav/back_link.njk" %}
    {% endblock %}
    {% if journeyType == "register-acsp" %}
      {% block signoutBar %}
        {% include "partials/nav/signout-bar.njk" %}
      {% endblock %}
    {% endif %}
    {% block localesBanner %}
      {% include "locales-banner.njk" %}
    {% endblock %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third"></div>
      <div class="govuk-grid-column-two-thirds" id="{{ mainContentId }}">
        {% include "partials/error_summary.njk" %}
        {% block main_content %}{% endblock %}
      </div>
    </div>
{% endblock %}

{% block footer %}
  {% include "partials/__footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  {% include "partials/__meta_footer.njk" %}
{% endblock %}