<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[(if gt IE 8) | (!IE)]><!-->
<html lang="{{ lang }}" class="govuk-template"> <!--<![endif]-->
  {% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
  {% import "add-lang-to-url.njk" as lang2url %}
  {% include "partials/__meta_header.njk" %}
  <body class="govuk-template__body">
    <script nonce={{ nonce | dump | safe }}>
      document.body.className = (
        (document.body.className)
        ? document.body.className + ' js-enabled'
        : 'js-enabled');
    </script>
    {% block bodyStart %}
      {% include "partials/cookie_consent_banner.njk" %}
    {% endblock %}
    <a href="#main-page-content" class="govuk-skip-link">Skip to main content</a>
    {% include "partials/__header.njk" %}
    <div class="govuk-width-container">
      {% if journeyType != "register-acsp" %}
        {% include "partials/nav/navbar.njk" %}
      {% endif %}
      {% block backLink %}
        <a href="{{ previousPage }}" class="govuk-back-link">{{i18n.Back}}</a>
      {% endblock %}
      {% if journeyType == "register-acsp" %}
        {% block signoutBar %}
          {% include "partials/nav/signout-bar.njk" %}
        {% endblock %}
      {% endif %}
      {% block localesBanner %}
        {% include "locales-banner.njk" %}
      {% endblock %}
      <main class="govuk-main-wrapper " id="main-content">
        <div class="govuk-grid-row">
          {% include "partials/error_summary.njk" %}
          {% block defaultLayout %}
          <div class="govuk-grid-column-two-thirds" id="main-page-content">{% block main_content %}{% endblock %}</div>
          {% endblock %}
        </div>
      </main>
    </div>
    {% include "partials/__footer.njk" %}
  </body>
</html>