{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% extends "layouts/default.njk" %}
{% set title = i18n.nationalityTitle %}
{% block main_content %}
    {% if errors %}
        {% set dropdownOneError =  errors.nationality_input_0 %}
        {% set dropdownTwoError =  errors.nationality_input_1 %}
        {% set dropdownThreeError =  errors.nationality_input_2 %}
    {% endif %}
    <form action="" method="post">
        {% include "partials/csrf_token.njk" %}
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                {% include "partials/user_name.njk" %}
                <h1 class="govuk-fieldset__heading">
                    <label for="nationality_input_0" class="govuk-label govuk-label--l">{{ i18n.nationalityTitle }}</label>
                </h1>
            </legend>
            <div id="typeahead-form-group-0" class="govuk-form-group">
                <p class="govuk-hint-0 govuk-hint" id="typeahead-hint-0">{{ i18n.firstNationalityHint }}</p>
                {% set dropdownDefaultText = i18n.whatIsYourNationalityDefaultDropdownText %}
                {% if payload.nationality_input_0 | length %}
                    {% set dropdownValue = payload.nationality_input_0 %}
                {% endif %}
                <div id="nationality-0" class="autocomplete-wrapper govuk-!-width-two-thirds"></div>
                <noscript>
                    {% set dropdownNumber = "0" %}
                    {% set errorMessage = dropdownOneError %}
                    {% include "../../../partials/nationality-typeahead-input.njk" %}
                </noscript>
            </div>
            <div id="second-nationality" class="second-nationality">
                <div id="typeahead-form-group-1" class="govuk-form-group ">
                    <label for="nationality_input_1" class="govuk-label">{{ i18n.secondNationalityHint }}</label>
                    <p class="govuk-hint-1 govuk-hint" id="typeahead-hint-1">{{ i18n.secondNationalityHintDetails }}</p>
                    {% set dropdownDefaultText = i18n.whatIsYourNationalityDefaultDropdownText %}
                    {% if payload.nationality_input_1 | length %}
                        {% set dropdownValue = payload.nationality_input_1 %}
                    {% endif %}
                    <div id="nationality-1" class="autocomplete-wrapper govuk-!-width-two-thirds"></div>
                    <noscript>
                        {% set dropdownNumber = "1" %}
                        {% set errorMessage = dropdownTwoError %}
                        {% include "../../../partials/nationality-typeahead-input.njk" %}
                    </noscript>
                </div>
            </div>
            <div id="third-nationality" class="third-nationality">
                <div id="typeahead-form-group-2" class="govuk-form-group ">
                    <label for="nationality_input_2" class="govuk-label">{{ i18n.thirdNationalityHint }}</label>
                    <p class="govuk-hint-2 govuk-hint" id="typeahead-hint-2">{{ i18n.thirdNationalityHintDetails }}</p>
                    {% set dropdownDefaultText = i18n.whatIsYourNationalityDefaultDropdownText %}
                    {% if payload.nationality_input_2 | length %}
                        {% set dropdownValue = payload.nationality_input_2 %}
                    {% endif %}
                    <div id="nationality-2" class="autocomplete-wrapper govuk-!-width-two-thirds"></div>
                    <noscript>
                        {% set dropdownNumber = "2" %}
                        {% set errorMessage = dropdownThreeError %}
                    </noscript>
                    {% include "../../../partials/nationality-typeahead-input.njk" %}
                    {% set errorMessage = errors %}
                </div>
            </div>
            {{ govukButton({
                text: i18n.SaveAndContinue,
                id:"save-continue-button"
            }) }}
        </fieldset>
    </form>
    {% endblock main_content %}
