{% extends "layouts/default.njk" %}	

{% block main_content %}	

  <h1 class="govuk-heading-l">{{ i18n.pageNotFoundTitle}}</h1>
  <p>{{ i18n.pageNotFoundText1 }}</p>
  <p>{{ i18n.pageNotFoundText3 }}</p>
  <p>
      {{ i18n.pageNotFoundText1 }}
      <a href="#">{{ i18n.pageNotLink }}</a>.
  </p>
{% endblock %}	
