<script type="text/javascript" src="{{ cdnHost }}/javascripts/app/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  const nationalityList = "{{ nationalityList }}"
  const nationalityValue = ["{{payload.nationality_input_0}}", "{{payload.nationality_input_1}}", "{{payload.nationality_input_2}}"]
  const errors = "{{ errors }}";
  for (let i = 0; i < nationalityList.length; i++) {
    const autocompleteConfig = {
      element: document.querySelector(`#nationality-${i}`),
      id: `nationality_input_${i}`, // To match it to the existing <label>.
      source: nationalityList.split(";"),
      name: `nationality_input_${i}`,
      defaultValue: nationalityValue[i]
    };
    accessibleAutocomplete(autocompleteConfig);
    const nationality = document.getElementById(`nationality-${i}`);
  }

  // Mimic nunjucks error generation
  for (let i = 0; i < error.length; i++) {
    if (errors && errors["nationality_input_" + i]) {
        const currentErrors = errors["nationality_input_" + i];
        document
            .getElementById("typeahead-form-group-" + i)
            .classList
            .add("govuk-form-group--error");
        // Add error message
        const errorHtml = '<p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span>' + currentErrors +
                '</p>';
        const element = document.getElementById("typeahead-hint-" + i);
        element.insertAdjacentHTML("afterend", errorHtml);
        // Add error class to input
        document
            .getElementById("nationality_input_" + i)
            .classList
            .add("govuk-input--error");
    }
}
</script>
<!-- Javascript disabled -->
<noscript>
  {% include "./nationality-typeahead-noscript-input.njk" %}
</noscript>