{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "layouts/default.njk" %}

{% block signoutBar %}
  {# Remove signout Bar on this page by replacing it with nothing #}
  {# Retaining section break divider line on sign out page #}
  <hr class="govuk-section-break">
{% endblock %}

{% set title = i18n.signoutTitle %}
{% block main_content %}
	<form action="{{ currentUrl }}" method="POST">
	    {% include "partials/csrf_token.njk" %}
		{{ govukRadios({
			errorMessage: errors.signout if errors,
			classes: "govuk-radios--inline",
			id: "signout",
			name: "signout",
			fieldset: {
				legend: {
					text: i18n.signoutTitle,
					isPageHeading: true,
					classes: "govuk-fieldset__legend--l"
				}
			},
			hint: {
				text: i18n.signoutOptionHintText
			},
			items: [
				{
					value: "yes",
					text: i18n.signoutYesButtonText
				},
				{
					value: "no",
					text: i18n.signoutNoButtonText
				}
			]
		}) }}
		{{ govukDetails({
			summaryText: i18n.signoutHowHintText,
			text: i18n.signoutHowHintDetailsText
		}) }}
		<button class="govuk-button">{{ i18n.SaveAndContinue }}</button>
	</form>
{% endblock main_content %}



