{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}
{% set title = i18n.sectorYouWorkInTitle %}
{% block main_content %}
  <form action="" method="POST">
    {% if acspType == "SOLE_TRADER" %}
      {% include "partials/user_name.njk" %}
    {% endif %}
    {{ govukRadios({
      errorMessage: errors.sectorYouWorkIn if errors,
      classes: "govuk-radios",
      id: "sector-you-work-in-radios",
      name: "sectorYouWorkIn",
      fieldset: {
        legend: {
          text: i18n.sectorYouWorkInTitle,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      value: workSector,
      items: [
        {
          value: "AIA",
          text: i18n.sectorYouWorkInAuditorsInsolvencyPractitionersOption,
          id:"AIA-id",
          attributes: {
            "data-event-id": "auditors-insolvency-practitioners"
          }
        },
        {
          value: "ILP",
          text: i18n.sectorYouWorkInIndependentLegalProfessionalsOption,
          id:"ILP-id",
          attributes: {
            "data-event-id": "independent-legal-professionals"
          }
        },
        {
          value: "TCSP",
          text: i18n.sectorYouWorkInTrustOrCompanyServiceProvidersOption,
          id:"TCSP-id",
          attributes: {
            "data-event-id": "trust-or-company-service-providers"
          }
        },
        {
          value: "CI",
          text: i18n.sectorYouWorkInCreditInstitutionsOption,
          id:"CI-id",
          attributes: {
            "data-event-id": "credit-institutions"
          }
        },
        {
          value: "FI",
          text: i18n.sectorYouWorkInFinancialInstitutionsOption,
          id:"FI-id",
          attributes: {
            "data-event-id": "financial-institutions"
          }
        },
        {
          value: "OTHER",
          text: i18n.sectorYouWorkInOtherOption,
          id:"OTHER-id",
          attributes: {
            "data-event-id": "other"
          }
        }
      ]
    }) }}
    {{ govukButton({
        text: i18n.SaveAndContinue,
        id:"save-continue-button",
        attributes: {
          "data-event-id": "SAVE AND CONTINUE - Sector you work in"
        }
    }) }}
  </form>
        <script>
          trackEventBasedOnPageTitle("AIA-id",  "select-option", "auditors-insolvency-practitioners");
          trackEventBasedOnPageTitle("ILP-id", "select-option", "independent-legal-professionals");
          trackEventBasedOnPageTitle("TCSP-id", "select-option", "trust-or-company-service-providers");
          trackEventBasedOnPageTitle("CI-id", "select-option", "credit-institutions");
          trackEventBasedOnPageTitle("FI-id", "select-option", "financial-institutions");
        trackEventBasedOnPageTitle("OTHER-id", "select-option", "other");
        trackEventBasedOnPageTitle("save-continue-button", "click-button", "SAVE AND CONTINUE - Sector you work in");
      </script>
{% endblock main_content %}