{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}
{% set title = i18n.sectorYouWorkInTitle %}
{% block main_content %}
  <form action="" method="POST">
    {% if acspType == "SOLE_TRADER" %}
      {% include "partials/user_name.njk" %}
    {% endif %}
    {{ govukRadios({
      errorMessage: errors.sectorYouWorkIn if errors,
      classes: "govuk-radios",
      id: "sector-you-work-in-radios",
      name: "sectorYouWorkIn",
      fieldset: {
        legend: {
          text: i18n.sectorYouWorkInTitle,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      value: workSector,
      items: [
        {
          value: "AIA",
          text: i18n.sectorYouWorkInAuditorsInsolvencyPractitionersOption,
          id:"AIA-id"
        },
        {
          value: "ILP",
          text: i18n.sectorYouWorkInIndependentLegalProfessionalsOption,
          id:"ILP-id"
        },
        {
          value: "TCSP",
          text: i18n.sectorYouWorkInTrustOrCompanyServiceProvidersOption,
          id:"TCSP-id"
        },
        {
          value: "CI",
          text: i18n.sectorYouWorkInCreditInstitutionsOption,
          id:"CI-id"
        },
        {
          value: "FI",
          text: i18n.sectorYouWorkInFinancialInstitutionsOption,
          id:"FI-id"
        },
        {
          value: "OTHER",
          text: i18n.sectorYouWorkInOtherOption,
          id:"OTHER-id"
        }
      ]
    }) }}
    {{ govukButton({
        text: i18n.SaveAndContinue,
        id:"save-continue-button"
    }) }}
  </form>

<script>
  trackEventBasedOnPageTitle("AIA-id",  "select-option", "Auditors, insolvency practitioners, external accountants and tax advisers");
  trackEventBasedOnPageTitle("ILP-id", "select-option", "Independent-legal-professionals");
  trackEventBasedOnPageTitle("TCSP-id", "select-option", "Trust-or-company-service-providers");
  trackEventBasedOnPageTitle("CI-id", "select-option", "Credit-institutions");
  trackEventBasedOnPageTitle("FI-id", "select-option", "Financial-institutions");
  trackEventBasedOnPageTitle("OTHER-id", "select-option", "Other");
  trackEventBasedOnPageTitle("save-continue-button", "click-button", "SAVE AND CONTINUE - Sector you work in");
</script>

{% endblock main_content %}