{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}
{% set title = i18n.sectorYouWorkInTitle %}
{% block main_content %}
  <form action="{{ currentUrl }}?lang={{ lang }}" method="POST">
    {% include "partials/csrf_token.njk" %}
    {% if acspType == "SOLE_TRADER" %}
      {% include "partials/user_name.njk" %}
    {% endif %}
    {{ govukRadios({
      errorMessage: errors.sectorYouWorkIn if errors,
      classes: "govuk-radios",
      id: "sector-you-work-in-radios",
      name: "sectorYouWorkIn",
      fieldset: {
        legend: {
          text: i18n.sectorYouWorkInTitle,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      value: workSector,
      items: [
        {
          value: "AIP",
          text: i18n.sectorYouWorkInAuditorsInsolvencyPractitionersOption
        },
        {
          value: "ILP",
          text: i18n.sectorYouWorkInIndependentLegalProfessionalsOption
        },
        {
          value: "TCSP",
          text: i18n.sectorYouWorkInTrustOrCompanyServiceProvidersOption
        },
        {
          value: "CI",
          text: i18n.sectorYouWorkInCreditInstitutionsOption
        },
        {
          value: "FI",
          text: i18n.sectorYouWorkInFinancialInstitutionsOption
        },
        {
          value: "OTHER",
          text: i18n.sectorYouWorkInOtherOption
        },
        {
          divider: i18n.sectorYouWorkInOrText
        },
        {
          value: "PNTS",
          text: i18n.sectorYouWorkInPreferNotToSayOption
        }
      ]
    }) }}
    {{ govukButton({
        text: i18n.SaveAndContinue,
        id:"save-continue-button"
    }) }}
  </form>
  {% endblock main_content %}
